@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: h1 from global;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.steps {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.step {
  margin-bottom: 3rem;
}

.stepContent {
  padding-left: 2rem;
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createProfileImage {
  max-height: 15rem;
  border: 1px solid var(--marketplaceColor);
}

.employerListingImage {
  max-height: 15rem;
}

.caregiverListingImage {
  max-height: 30rem;
}

.caregiverInquiryImage {
  max-width: 30rem;
  border: 1px solid var(--marketplaceColor);
}

.getStartedLink {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.getStartedButton {
  composes: button buttonBorders buttonColors h2 from global;
  color: var(--matterColorLight);
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    display: block;
    width: 20rem;
  }
}

.userButtons {
  width: 100%;
}

.buttonGroupRoot {
  display: flex;
  max-width: 30rem;
  flex-wrap: nowrap;
  margin-block: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.buttonGroup {
  composes: button buttonFont buttonText buttonColorsSecondary from global;

  border: 1px solid var(--marketplaceColor);

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;

  &:hover {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }

  &:focus {
    background-color: var(--matterColorLight);
    color: var(--matterColor);
  }
}

.buttonGroupSelected {
  composes: button buttonFont buttonText buttonColors from global;

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;

  &:hover,
  &:focus {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }
}
