<html>
  <head>
    <meta name="supported-color-schemes" content="light dark" />

    <style>
      @media (prefers-color-scheme: dark) {
        .inner-table {
          background-color: #1c1c1c !important;
        }
      }

      @media screen and (max-width: 768px) {
        .inner-table {
          border-radius: 0 !important;
        }

        .outer-td {
          padding: 0 !important;
        }
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0">
    <table
      style="border-collapse:collapse;margin:0;padding:0;height:100%; width:100%; background-color: #6BA0B6; color: #6BA0B6"
      width="100%"
      height="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      align="center"
    >
      <tbody>
        <tr>
          <td
            class="outer-td"
            style="padding: 25px 0; border-top: 0; height: 100%; width: 100%;"
            valign="top"
            align="center"
          >
            <table
              class="inner-table"
              style="border-collapse:collapse; border:0; max-width: 450px; background-color: #FFFFFF; border-radius: 10px;"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tbody>
                <tr>
                  <td style="padding: 0 25px 25px 25px;">
                    <table>
                      <tbody>
                        <tr>
                          <td align="center">
                            <a href="{{marketplace.url}}">
                              <img
                                src="https://carevine-email-images.s3.us-west-2.amazonaws.com/carevine-logo.png"
                                class="logo"
                                style="height: 50px;width: 176px;padding-top: 16px;"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 32px; width: 100%;text-align: center;margin: 0;color: #6BA0B6;font-size: 40px;font-family: Helvetica;"
                            >
                              Booking Canceled
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 24px;width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              You have successfully canceled your booking with
                              {{transaction.customer.display-name}}. {{#if
                              transaction.metadata.payout}} You will be paid out
                              ${{transaction.metadata.payout}} for all prior time worked. {{else}}
                              You did not complete any booking times and will therefore not be paid
                              out. {{/if}}
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 32px;">
                            <p
                              style="width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 14px; line-height: 150%;font-family: Helvetica; text-decoration: underline;"
                            >
                              Cancellation Policy
                            </p>
                            <ul
                              style="width: 80%; text-align: left;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica;"
                            >
                              <li style="padding: 4px 0;">
                                100% refund for booked times canceled by clients more than 48 hours
                                in advance
                              </li>
                              <li style="padding: 4px 0;">
                                50% refund for booked times canceled by clients less than 48 hours
                                in advance
                              </li>
                              <li style="padding: 4px 0;">
                                Base caregiving and booking fees are refunded according to the
                                stipulations above. Processing fees for your chosen payment method
                                are not refundable.
                              </li>
                              <li style="padding: 4px 0;">
                                Bookings cancelled by caregivers will be refunded 100% to the client
                                for any remaining time not completed. Caregivers will be paid out
                                for any time already completed.
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="padding-top: 32px; padding-bottom: 16px; border-bottom: 1px solid #6BA0B6"
                          >
                            <p
                              style="width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica;"
                            >
                              If you have any questions or concerns, please contact
                              <a
                                href="support@carevine.us"
                                style="width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica;"
                                >CareVine Support</a
                              >.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table align="center" style="padding-top: 16px;">
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/contact-us"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Contact Us</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/privacy-policy"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Privacy-Policy</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/terms-of-service"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Terms &amp; Conditions</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
