@import '../../styles/customMediaQueries.css';

.root {
  transition: min-width 1.5s ease-out;
  -webkit-transition: min-width 1.5s ease-out;
  -moz-transition: min-width 1.5s ease-out;
  -ms-transition: min-width 1.5s ease-out;
  -o-transition: min-width 1.5s ease-out;
  will-change: min-width;
}

.root.single {
  @media (--viewportMedium) {
    min-width: 350px;

    & .leftColumnContainer {
      width: 350px;
    }
  }
}

.root.double {
  @media (--viewportMedium) {
    display: grid;
    grid-template-columns: 2;
    column-gap: var(--modalPaddingMediumInline);
    margin-top: 20px;
    place-content: start;
    min-width: calc(700px + var(--modalPaddingMediumInline));

    & .leftColumnContainer {
      grid-column: 1/2;
      width: 350px;
    }

    & .paymentElements {
      grid-column: 2/2;
      max-width: 350px;
    }
  }
}

.root.confirmation {
  min-width: 0;
  padding-top: 40%;
  display: flex;
  align-items: center;
  width: 100%;

  @media (--viewportMedium) {
    height: auto;
    padding-top: 0;
  }
}

.modalContainer {
  flex-grow: 0;

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  min-height: 100vh;
  height: 100%;
  width: 100%;

  @media (--viewportMedium) {
    flex-basis: 0;
    min-height: auto;
    height: auto;
    width: auto;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.leftColumnContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.confirmationContainer {
  margin-top: 20%;
  margin: auto;
}

.confirmationText {
  display: flex;
  word-wrap: none;
  white-space: nowrap;
  font-size: 30px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  width: 100%;
}

.noPayoutMessage {
  composes: marketplaceModalParagraphStyles from global;

  margin-top: 40px;
}

.notifyButtonWrapper {
  composes: marketplaceModalBottomWrapper from global;

  text-align: left;
}

.notifyDisabledMessage {
  color: var(--marketplaceColor);
  margin-bottom: 0;
}
