{:format :v3,
 :transitions
 [
  {:name :transition/modify-booking-request,
  :actions
  [{:name :action/privileged-update-metadata}, {:name :action/create-proposed-booking :config {:type :time}}],
   :actor :actor.role/customer,
   :to :state/modify-booking-requested,
   :privileged? true
   },

   {:name :transition/expire,
   :at {:fn/timepoint [:time/booking-start]}
   :from :state/modify-booking-requested,
   :to :state/expired}

   {:name :transition/accept,
   :actions
  [{:name :action/privileged-update-metadata}],
   :actor :actor.role/provider,
   :from :state/modify-booking-requested,
   :to :state/accepted,
   :privileged? true}


   {:name :transition/decline,
   :actions
  [{:name :action/privileged-update-metadata}],
   :actor :actor.role/provider,
   :from :state/modify-booking-requested,
   :to :state/declined,
   :privileged? true}

   {:name :transition/booking-modified,
   :actions
  [{:name :action/privileged-update-metadata}],
   :actor :actor.role/customer,
   :to :state/modified,
   :privileged? true}

   ],
 :notifications
 [
  {:name :notification/modify-booking-requested,
    :on :transition/modify-booking-request,
    :to :actor.role/provider,
    :template :modify-booking-requested},

  {:name :notification/modify-booking-accepted,
   :on :transition/accept,
   :to :actor.role/customer,
   :template :modify-booking-accepted},

   {:name :notification/modify-booking-declined,
   :on :transition/decline,
   :to :actor.role/customer,
   :template :modify-booking-declined},

    {:name :notification/modify-booking-expired,
    :on :transition/expire,
    :to :actor.role/customer,
    :template :modify-booking-expired},

    {:name :notification/booking-modified,
    :on :transition/booking-modified,
    :to :actor.role/provider,
    :template :booking-modified},

   ]}
