

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media screen(md) {
    padding-top: 2px;
  }
}

.select {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  width: 4rem;
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 2rem !important;
}

.textarea {
  flex-shrink: 0;
}

.textareaRoot {
  margin-top: 1rem;
  margin-bottom: 0;
}

.submitButton {
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-shrink: 0;

  @media screen(md) {
    display: inline-block;
    width: 241px;
    margin-top: 5rem;
    margin-bottom: 0;
  }
}

.checkboxGroup {
  composes: formMargins;
  flex-shrink: 0;
}
