@import '../../styles/customMediaQueries.css';

.datesContainer {
  padding: 2rem;
  background-color: var(--matterColorNegative);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5rem;
}

.dateContainer {
  box-shadow: var(--boxShadow);
  width: 12rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--matterColorLight);
}

.formRow {
  /* This container uses flexbox layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* parent aka fieldWrapper is flexbox, this container takes all available space */
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;

  z-index: 1;
}

.date {
  text-align: center;
  margin-top: 0;
}

.timeSelect {
  composes: marketplaceTabNavHorizontalFontStyles from global;

  background: none;
  padding-right: 0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 4.5rem;

  &:select {
    margin-right: 0;
  }

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }

  &:disabled {
    border-bottom-color: var(--matterColorNegative);
    color: var(--matterColorNegative);
    cursor: default;
  }
}

.dashBetweenTimes {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 8px;
}

.changeDatesButton {
  min-height: 0;

  width: auto;
  display: inline;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

.bookingTimeText {
  width: 100%;
  text-align: center;
}

.datePicker {
  margin-bottom: 2rem;
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;
}

.submitButton {
  margin: 1rem 0 4rem 0;
}

.paymentInfo {
  composes: h5 from global;

  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 2.5rem;
  margin: 3rem 0 0 0;

  @media (--viewportLarge) {
    /* TODO this is ugly overwrite to fix unconsistent font styles */
    padding: 0;
  }
}
