.root {
  width: 100%;
}

.datesContainer {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  @media screen(md) {
    gap: 1rem;
  }

  @media screen(lg) {
    justify-content: flex-start;
  }
}

.dateContainer {
  box-shadow: var(--boxShadow);
  padding: 0.75rem;
  margin-block: 0.5rem;
  background-color: var(--matterColorLight);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--matterColorNegative);

  @media screen(md) {
    width: 12rem;
    padding: 1rem;
    margin-block: 1rem;
  }
}

.formRow {
  /* This container uses flexbox layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* parent aka fieldWrapper is flexbox, this container takes all available space */
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;

  z-index: 1;
}

.date {
  text-align: center;
  margin-top: 0;
}

.timeSelect {
  composes: marketplaceTabNavHorizontalFontStyles from global;

  background: none;
  padding-right: 0 !important;
  padding-top: 0;
  padding-bottom: 0.5rem;
  min-width: 4rem;

  &:select {
    margin-right: 0;
  }

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }

  &:disabled {
    border-bottom-color: var(--matterColorNegative);
    color: var(--matterColorNegative);
    cursor: default;
  }

  @media screen(md) {
    min-width: 4.5rem;
  }
}

.dashBetweenTimes {
  margin-top: auto;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0.325rem;
}

.changeDatesButton {
  min-height: 0;

  width: auto;
  display: inline;
  padding: 0.5rem 1rem;
}

.bookingTimeText {
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightSemiBold);
  width: 100%;
  text-align: center;
  padding-block: 0.25rem;
  color: var(--failColor);

  @media screen(md) {
    padding-block: 0;
  }
}

.datePicker {
  margin-bottom: 2rem;
  max-width: 80vw;
  margin-top: 1.5rem;
  margin-inline: auto;

  @media screen(md) {
    margin-inline: 0;
    max-width: 20rem;
  }
}

.modalContainer {
  flex-grow: 1;

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  min-height: 100vh;
  height: 100%;

  @media screen(md) {
    flex-basis: 576px;
    flex-grow: 0;
    min-height: auto;
    height: auto;
    padding: 0;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

.submitButton {
  margin: 1rem auto 4rem auto;
  max-width: 30rem;
}

.paymentInfo {
  composes: h5 from global;

  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 2.5rem;
  margin: 3rem 0 0 0;

  @media screen(lg) {
    /* TODO this is ugly overwrite to fix unconsistent font styles */
    padding: 0;
  }
}

.sendAMessage {
}

.pickYourTimes {
  display: inline;

  @media screen(md) {
    margin-top: 0;
  }
}

.error {
  color: var(--failColor);
}

.timeSelectLabel {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
  padding: 0;
}

.paymentContentContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;

  @media screen(lg) {
    flex-direction: row;
  }
}

.paymentContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  max-width: 40rem;
}

.datesTimesContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen(lg) {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 4rem;
    text-align: left;
    align-items: flex-start;
  }
}

.tabContent {
  @media screen(md) {
    font-size: 1.5rem !important;
    line-height: 1.75rem;
  }
}

.tinyNoMargin {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
}

.processingFeesList {
  list-style-type: disc;
  margin-left: 1rem;
}

.requestContentContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media screen(lg) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 0;
    height: calc(100vh - var(--topbarHeightDesktop) - 10rem);
  }
}

.submissionContainer {
  margin-top: 3rem;
  left: calc(100vw - 76rem);
}

.paymentLearnMore {
  color: var(--marketplaceColor);
  text-decoration: underline;
  cursor: pointer;
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  margin-top: 4rem;

  @media screen(md) {
    margin-top: 0;
  }
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.learnMoreListItem {
  margin-bottom: 1rem;
}

.processingFees {
  margin-top: 2rem;
}

.nextButton {
  margin-top: 4rem;
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;

  @media screen(lg) {
    margin-top: 1rem;
    max-width: 100%;
    text-align: center;
  }
}

.week {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  padding-top: 2rem;
  margin-bottom: 4rem;

  @media screen(lg) {
    margin-bottom: 5rem;
  }
}

.fieldDateInput {
  flex-grow: 1;

  & :global(.SingleDatePickerInput) {
    width: 100%;
    margin: 0;
  }

  & :global(.SingleDatePicker_picker__directionLeft) {
    right: 2rem !important;
    left: auto !important;

    @media screen(md) {
      width: 100%;
      right: auto !important;
      left: 0 !important;
    }
  }
}

.dateInputContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: flex-end;
}

.removeExceptionButton {
  padding: 0 0.75rem 0 0.75rem;
  border: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}

.removeIcon {
  width: 10px;
  height: 10px;
  stroke: var(--matterColorAnti);
  fill: var(--matterColorAnti);

  &:hover {
    stroke: var(--matterColorDark);
    fill: var(--matterColorDark);
  }

  @media screen(md) {
    width: 12px;
    height: 12px;
  }
}

.endDateContainer {
  position: relative;
}

.recurringRoot {
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 5rem;

  max-width: 30rem;
}

.recurringModalContainer {
  composes: marketplaceModalBaseStyles from global;

  padding-left: 0;
  padding-right: 0;
  padding-top: 4rem;

  background-color: var(--matterColorBright);

  & > div > .modalTitle {
    padding-left: 2rem;
  }
}

.saveWeekButton {
  max-width: calc(100% - 4rem);
  margin: 0 auto;
}

.warning {
  color: var(--attentionColor);
}

.timeline {
  margin-bottom: 5rem;
  & > h2 {
    margin-bottom: 0;
  }
}

.leaveEndDate {
  composes: tinyNoMargin;
  margin-bottom: 1rem;
}

.dailyPlan {
  background-color: var(--matterColorNegative);

  border-top: 1px solid var(--marketplaceColor) !important;
  border-inline: 1px solid var(--marketplaceColor) !important;

  &:first-of-type {
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border-bottom: 1px solid var(--marketplaceColor) !important;
  }
}

.regularDay {
  &:hover {
    cursor: pointer;
    background-color: var(--matterColorLight);
    color: var(--marketplaceColor);
    padding: 0.25rem 0.5rem;
  }
}

.warningModalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  & > button {
    width: calc(50% - 1rem);
  }
}

.warningCalendar {
  margin: 2rem 0;
  padding: 1rem !important;
}

.mobileSelectedDay {
  background: var(--marketplaceColor);
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.startEndDates {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
  color: var(--marketplaceColor);
  white-space: nowrap;
}

.day {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin-right: 0.5rem;

  @media screen(lg) {
    &:hover {
      background-color: var(--marketplaceColor);
      color: var(--matterColorLight);
    }
  }

  &.blocked {
    text-decoration: line-through;
    color: var(--matterColorAnti) !important;

    cursor: not-allowed;

    &:hover {
      background-color: var(--matterColorNegative);
    }
  }

  &.highlighted {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);

    &.past {
      cursor: not-allowed;
      background-color: var(--successColor);
    }
  }
}
