@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 11px 24px 0 24px;
}

.form {
  flex-grow: 1;
}

.title {
  margin-bottom: 3rem;

  @media screen(lg) {
    margin-bottom: 2.375rem;
    padding: 1px 0 7px 0;
  }
}

.whoNeedsCareText {
  color: var(--marketplaceColor);
}

.addRecipientButton {
  composes: h4 from global;
  padding: 1px 0 5px 0;
  margin: 0 0 24px 0;
  display: flex;
}

.noExceptions {
  composes: h4 from global;
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
}

@media screen(md) {
  .addRecipientButton {
    padding: 3px 0 5px 0;
    margin: 0 0 72px 0;
  }
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;

  justify-content: center;

  @media screen(lg) {
    margin-top: 6vh;
  }
}

.submitButtonWrapper {
  composes: marketplaceModalBottomWrapper from global;

  text-align: left;
}

.recipients {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  border-top: solid 1px var(--matterColorNegative);
  border-right: solid 1px var(--matterColorNegative);
  border-left: solid 1px var(--matterColorNegative);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 11px;

  & > .recipient {
    border-bottom: solid 1px var(--matterColorNegative);
  }

  @media screen(md) {
    max-width: 40rem;
  }
}

.recipient {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  @media screen(md) {
    padding: 12px 24px 12px 0px;
  }
}

.recipientTraitsContainer {
  display: inline-grid;
  width: 55%;
  border-left: 1px solid var(--matterColorNegative);
  padding-left: 1rem;

  @media screen(md) {
    padding-left: 2rem;
  }
}

.recipientTrait {
  color: var(--matterColorAnti);
  font-size: 0.75rem;

  @media screen(md) {
    font-size: 1rem;
  }
}

.recipientLabel {
  font-size: 1rem;
  margin-right: 1rem;
  white-space: nowrap;

  @media screen(md) {
    font-size: 1.125rem;
  }

  color: var(--marketplaceColor);
}

.noWrap {
  white-space: nowrap;
}

.recipientHeader {
  display: flex;
  flex-direction: row;
}

.removeIcon {
  width: 10px;
  height: 10px;
  stroke: var(--matterColorAnti);
  fill: var(--matterColorAnti);
}

.removeRecipientButton {
  padding: 0 24px 0 24px;
  border: 0;
  cursor: pointer;

  &:hover .removeIcon {
    stroke: var(--matterColorDark);
    fill: var(--matterColorDark);
  }
}

.error {
  color: var(--failColor);
}

@media screen(md) {
  .recipients {
    margin-bottom: 8px;
  }

  .removeRecipientButton {
    padding: 0 24px 0 24px;
  }
}
