@import '../../styles/customMediaQueries.css';

.root {
  max-width: 100%;
}

.datesContainer {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;

  @media (--viewportMedium) {
    justify-content: space-evenly;
    gap: 1rem;
  }
}

.dateContainer {
  box-shadow: var(--boxShadow);
  padding: 0.75rem;
  margin-block: 0.5rem;
  background-color: var(--matterColorLight);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--matterColorNegative);

  @media (--viewportMedium) {
    width: 12rem;
    padding: 1rem;
    margin-block: 1rem;
  }
}

.formRow {
  /* This container uses flexbox layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* parent aka fieldWrapper is flexbox, this container takes all available space */
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;

  z-index: 1;
}

.date {
  text-align: center;
  margin-top: 0;
}

.timeSelect {
  composes: marketplaceTabNavHorizontalFontStyles from global;

  background: none;
  padding-right: 0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 4rem;

  &:select {
    margin-right: 0;
  }

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }

  &:disabled {
    border-bottom-color: var(--matterColorNegative);
    color: var(--matterColorNegative);
    cursor: default;
  }

  @media (--viewportMedium) {
    min-width: 4.5rem;
  }
}

.dashBetweenTimes {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 8px;
}

.changeDatesButton {
  min-height: 0;

  width: auto;
  display: inline;
  padding: 0.5rem 1rem;
}

.bookingTimeText {
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightSemiBold);
  width: 100%;
  text-align: center;
  padding-block: 0.25rem;

  @media (--viewportMedium) {
    padding-block: 0;
  }
}

.datePicker {
  margin-bottom: 2rem;
  max-width: 20rem;

  @media (--viewportMedium) {
    margin: 1rem auto;
  }
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  margin: 1rem 0 4rem 0;
}

.paymentInfo {
  composes: h5 from global;

  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 2.5rem;
  margin: 3rem 0 0 0;

  @media (--viewportLarge) {
    /* TODO this is ugly overwrite to fix unconsistent font styles */
    padding: 0;
  }
}

.sendAMessage {
  margin-top: 3rem;

  @media (--viewportMedium) {
    margin-top: 5rem;
  }
}

.pickYourTimes {
  display: inline;
  margin-right: 2rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.error {
  color: var(--failColor);
}

.fieldLabel {
  width: 100%;
  text-align: center;
}

.priceRange {
  padding: 0 2rem;
}

.track {
  background-color: var(--marketplaceColor);
}

.availableRatesContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2.5rem;

  & p {
    margin: 0;
  }
}
