

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media screen(md) {
    padding-top: 2px;
  }
}

.features {
  margin-bottom: 24px;

  @media screen(md) {
    margin-bottom: 32px;
  }
}

.select {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  width: 4rem;
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 24px !important;

  @media screen(md) {
    margin-bottom: 32px !important;
  }
}

.submitButton {
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-shrink: 0;

  @media screen(lg) {
    display: inline-block;
    width: 15rem;
  }
}

.group {
  composes: formMargins;
  flex-shrink: 0;
}
