@import '../../styles/customMediaQueries.css';

.content {
  @media screen(md) {
    margin: 32px auto 0 auto;
    max-width: 564px;
  }

  @media screen(lg) {
    margin: 0;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.title {
  margin-top: 8px;
  margin-bottom: 19px;

  @media screen(md) {
    margin-bottom: 36px;
  }
}
