@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.consentTextWrapper {
  border: 3px solid var(--matterColorDark);
  overflow: scroll;
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 40px;

  width: 100%;
  height: 50vh;

  @media (--viewportLarge) {
    width: 60rem;
    height: 20rem;
  }
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;

  line-height: 3rem;
  text-align: center;
}

.submitButton {
  margin-top: 3rem;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    margin-top: 3rem;
  }
}

.consentCheckboxText {
  composes: marketplaceListingAttributeFontStyles from global;
  color: var(--matterColor);
  margin-top: -1px;
  margin-bottom: 1px;
  cursor: pointer;

  &:hover {
    color: var(--matterColorAnti);
  }
}

.consentCheckboxText[data-disabled='true'] {
  color: var(--matterColorAnti);

  &:hover {
    color: var(--matterColorAnti);
  }
}

.consentCheckbox {
  display: flex;
  justify-content: center;
  width: 100%;
  /* Hightlight the text on checked, hover and focus */
  &:focus + label .text,
  &:hover + label .text,
  &:checked + label .text {
    color: var(--matterColorDark);
  }
}

.error {
  display: block;
  color: var(--failColor);
}
