@import '../../styles/customMediaQueries.css';

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

/* Shared animation rules */
.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3s;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;

  @media (--viewportMedium) {
    position: relative;
  }
  /* Text positioning is done with paddings */
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.middleHero {
  align-items: center !important;
  justify-content: flex-end;

  @media (--viewportMedium) {
    justify-content: center !important;
  }
}

.heroContent {
  margin: 0 1rem;
  position: absolute;
  bottom: 0;
  top: 35%;
  z-index: 1;

  @media (--viewportMedium) {
    top: 25%;
  }

  @media (--viewportLarge) {
    margin-left: auto;
    margin-right: 15vw;
    position: static;
    padding: 0;
  }
}

.heroMainTitle {
  composes: marketplaceHeroTitleFontStyles from global;
  /* color: var(--secondaryMarketplaceColor); */
  composes: animation;
  color: var(--matterColorLight);
  text-align: center;

  @media (--viewportLarge) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    padding-bottom: 0;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
  }
}
.heroMainTitleFEDelay {
  animation-delay: 0s;
}

.heroSubTitle {
  color: var(--matterColorLight);
  margin: 0 0 2rem 0;
  composes: animation;
  font-weight: normal;
  text-align: center;

  @media (--viewportLarge) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 0 2rem 0;
    text-align: left;
  }

  @media (--viewportLarge) {
    font-size: 1.25rem;
    font-size: 1.25vw;
    line-height: 1.5rem;
    line-height: 1.5vw;
  }
}

.centered {
  text-align: center;
}

.heroSubTitleFEDelay {
  animation-delay: 0.15s;
}

.heroButtonContainer {
  display: flex;

  @media (--viewportMedium) {
    max-width: 30em;
  }
}

.heroButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  composes: animation;

  @media (--viewportMedium) {
    max-width: 25rem;
    margin: auto;
  }

  @media (--viewportLarge) {
    max-width: auto;
    width: 16.25rem;
    width: 15vw;
    height: 3.5rem;
    height: 3.5vw;
    min-height: 0;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-size: 1vw;
    line-height: 1.5rem;
    line-height: 1.5vw;
  }
}

.heroButtonFEDelay {
  animation-delay: 0.3s;
}

.logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 1rem;
  composes: animation;
  composes: heroMainTitleFEDelay;

  @media (--viewportMedium) {
    margin-inline: 0;
  }
}

.learnMoreButtonContainer {
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 0.5rem;
  position: absolute;
}

.learnMoreButton {
  color: var(--matterColor);
  font-weight: var(--fontWeightMedium);

  composes: animation;
  animation-delay: 0s;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportLarge) {
    font-size: 1.15rem;
    font-size: 1vw;
    line-height: 1.5rem;
    line-height: 1.5vw;
  }
}

.heroSearchForm {
  width: 100%;
  composes: animation;
  composes: heroButtonFEDelay;
}

.arrowHead {
  margin-top: 0.1rem;
  fill: transparent;
  stroke-width: 1px;
  stroke: var(--matterColor);
}

.unAuthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--matterColorBright);
  position: absolute;
  top: 8%;
  width: 90%;
  padding: 0 0 5rem 0;
  z-index: 1;

  @media (--viewportMedium) {
    margin-left: auto;
    margin-block: auto;
    position: static;
    padding: 0 0 5rem 0;
    padding-right: 5rem;
    max-width: 55rem;
  }

  @media (--viewportLarge) {
    max-width: 50vw;
    padding-right: 5vw;
  }

  @media (--viewportXLarge) {
    max-width: 55rem;
    padding-right: 10rem;
  }
}

.yourCare {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.7px;
  font-weight: var(--fontWeightSemiBold);
  composes: animation;
  composes: heroMainTitleFEDelay;
  margin-bottom: 2rem;
  margin-bottom: 7vw;

  @media (--viewportMedium) {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  @media (--viewportLarge) {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  text-align: center;
}

.perfectCaregiver {
  font-weight: var(--fontWeightMedium);
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.7px;
  text-align: center;
  margin-top: 0;
  padding-inline: 2rem;

  composes: animation;
  composes: heroSubTitleFEDelay;

  @media (--viewportMedium) {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
    margin-top: 1rem;
  }
}

.subPerfectCaregiver {
  display: block;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(198, 205, 199, 0.6);
  border-radius: var(--borderRadius);
  padding: 2rem 4rem;
  margin-bottom: 1rem;
  margin-bottom: 3.5vw;

  @media (--viewportMedium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    margin-top: 1rem;
    gap: 2em;
  }
}

.stepIcon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  /* height: 7.5vw;
  width: 7.5vw;
  min-width: 7.5vw; */
  background-color: var(--marketplaceColor);
  border-radius: 100%;
  margin-right: 1rem;
  margin-block: 0;

  @media (--viewportLarge) {
    width: 3vw;
    height: 3vw;
    min-width: 3vw;

    font-size: 1.35vw;
    line-height: 1.75vw;
  }
}

.step {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--matterColorLight);
  padding: 0.5rem 0;
  padding: 2vw 0;

  @media (--viewportLarge) {
    & > h4 {
      font-size: 1vw;
      line-height: 1.5vw;
    }
  }
}

.stepDescription {
  max-width: 10rem;
  max-width: 32.5vw;

  padding-top: 0.5rem;
  padding-top: 1.5vw;

  & > h2 {
    font-size: 1.75rem;
    font-size: 6vw;
    margin-top: 0;
    margin-bottom: 0.35rem;
    margin-bottom: 1.5vw;
  }

  & > p {
    font-size: 3vw;
    line-height: 1rem;
    line-height: 3vw;
    margin: 0;
  }
}

.inArea {
  font-size: 4.5vw;
}
