@import '../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media screen(md) {
    padding-top: 2px;
  }
}

.languagesRadio {
  margin-bottom: 12px;
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 24px !important;

  @media screen(md) {
    margin-bottom: 32px !important;
  }
}

.additionalLanguages {
  composes: formMargins;
  padding-top: 0rem;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
}

.submitButton {
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-shrink: 0;

  @media screen(lg) {
    display: inline-block;
    max-width: 15rem;
  }
}
