@import '../../styles/customMediaQueries.css';

.root {
}

.newPasswordSection {
  margin-top: 16px;
  margin-bottom: 46px;
  padding-top: 6px;

  @media screen(md) {
    margin-bottom: 56px;
    padding-top: 0;
  }
}

.confirmChangesSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 0;
  opacity: 0;
}

.confirmChangesSectionVisible {
  opacity: 1;
}

.confirmChangesTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 13px;

  @media screen(md) {
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 37px;

  @media screen(md) {
    margin-bottom: 48px;
  }
}

.bottomWrapper {
  margin-top: 46px;

  @media screen(md) {
    margin-top: 96px;
  }
}

.error {
  composes: h4 from global;
  color: var(--failColor);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 24px 0;

  @media screen(md) {
    margin: 24px 0;
  }
}

.helperLink {
  composes: a from global;
  color: var(--matterColor);
  font-weight: var(--fontWeightMedium);
  text-decoration: underline;
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

.passwordReqs {
  flex-grow: 1;

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  min-height: 100vh;
  height: 100%;

  @media screen(md) {
    flex-basis: 40rem;
    flex-grow: 0;
    min-height: auto;
    height: auto;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

.passwordRequirementsButton {
  composes: marketplaceTinyFontStyles from global;

  margin-top: 1rem;
}

.passwordRequirementsModalList {
  composes: marketplaceModalParagraphStyles from global;

  white-space: nowrap;
}
