@import '../../styles/customMediaQueries.css';

.content {
  min-height: calc(100vh - var(--topbarHeight) - var(--userNavHeight));

  @media screen(md) {
    margin: 32px auto 0 auto;
    width: 100%;
    max-width: 564px;
  }

  @media screen(lg) {
    margin: 0;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.title {
  hyphens: auto;
  margin-top: 8px;
  margin-bottom: 19px;

  @media screen(md) {
    margin-bottom: 47px;
  }
}
