.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  padding-top: 1px;
}

/* .title,
.heading,
.subheading,
.timezonePicker,
.submitButton {
  padding-left: 30px;
  padding-right: 30px;

  @media screen(sm) {
    padding-left: 60px;
    padding-right: 60px;
  }
} */

.subheading {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 5px;
  color: var(--matterColorAnti);
}

.error {
  color: var(--failColor);
}

.timezonePicker {
  margin-bottom: 24px;
}

.week {
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  margin-bottom: 23px;

  @media screen(lg) {
    margin-bottom: 60px;
  }
}

.caregiverWeek {
  display: flex;
  flex-direction: column;

  padding-top: 16px;
}

.isFlexible {
  margin-block: 15px;
  display: flex;
  justify-content: center;

  @media screen(lg) {
    margin-block: 35px;
  }
}

.isFlexibleText {
  composes: h3 from global;

  margin: 0;
}

.isFlexibleContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  margin-block: 1.5rem;
  padding: 0 1.5rem;

  @media screen(lg) {
    width: auto;
    min-width: 15rem;
    max-width: 15rem;
  }
}

.dailyPlan {
  background-color: var(--matterColorNegative);
  max-width: 30rem;

  border-top: 1px solid var(--marketplaceColor) !important;
  border-inline: 1px solid var(--marketplaceColor) !important;

  &:first-of-type {
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border-bottom: 1px solid var(--marketplaceColor) !important;
  }
}

@media screen(md) {
  .root {
    padding-top: 2px;
    margin-top: -16px;
  }
  .title {
    margin-bottom: 32px;
  }

  .submitButton {
    padding-bottom: unset;
  }
}

@media screen(lg) {
  .calendarWrapper {
    flex-grow: 0;
    margin-bottom: 24px;
  }
}
