.bookingCard {
  box-shadow: var(--boxShadowCard);
  background-color: var(--matterColorLight);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1rem 1.5rem 1rem 1rem;
  max-width: calc(100vw - 2rem);
  border-radius: var(--borderRadius);
  width: 100%;
}

.avatar {
  min-height: 4rem;
  min-width: 4rem;
  margin-right: 1.5rem;

  & span {
    font-size: 1.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bookingTitle {
  display: flex;
  align-items: center;
  max-width: 70%;
}

.title {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.9rem;
}

.changeButton {
  min-height: 0;
  width: 7rem;
  height: 2rem;
}

.dateTimesContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.datesAndTimes {
  width: 100%;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.dateTimes {
  display: flex;
  flex-shrink: 1;
  border: 1px solid var(--matterColorNegative);
}

.bookingTime {
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--matterColorNegative);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookingTime:not:first-of-type {
  border-left: none;
}

.summaryDate {
  margin: 0;
  display: inline;
}

.summaryTimeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.tinyNoMargin {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
}

.summaryTimes {
  composes: tinyNoMargin;
  flex-shrink: 1;
}

.payRateDetails {
  color: var(--marketplaceColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}

.bookingCalc {
  border-bottom: 1px solid var(--matterColor);
  margin: 0;
}

.viewContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
}

.viewButton {
  min-height: 0;
  width: 9rem;
  height: 3.25rem;
  padding: 0 0.5rem;
}

.tablePagination {
  display: flex;
  width: 100%;

  @media screen(md) {
    justify-content: center;
  }
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;

  justify-content: center;
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.modalError {
  color: var(--failColor);
  margin-top: 1rem;
}

.modalButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.modalButton {
  padding: 1rem 2rem;
  width: 8rem;
  height: auto;
  min-height: 0;
  display: inline;
  margin-left: 1rem;
}

.bookingSummaryCard {
  padding: 1rem;
  border: 1px solid var(--matterColor);
  border-radius: 0.5rem;
  margin-top: 2rem;
  max-height: 30rem;
  overflow-y: scroll;

  & div {
    margin: 0;
  }
}

.changeSummaryCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--matterColor);
  border-radius: 0.5rem;
  flex-shrink: 1;
  margin-block: 2rem;
}

.refundList {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.refundListItem {
  composes: marketplaceTinyFontStyles from global;
  display: list-item;
  list-style-type: disc;
  margin: 0;
}

.modalMessageRefund {
  composes: modalMessage from global;
  composes: marketplaceTinyFontStyles from global;
  text-decoration: underline;
}

.error {
  color: var(--failColor);
}

.userDisplayName {
  white-space: nowrap;
}

.acceptDeclineButtons {
  display: flex;
  margin-top: 2rem;
  gap: 1.5rem;
}

.bookingDeclined {
  width: 100%;
  text-align: center;
  color: var(--failColor);
}

.bookingNumber {
  color: var(--marketplaceColor);
  margin-top: 0;
  width: 100%;
}

.continueButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  composes: changeButton;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLabel {
  height: auto;

  &:hover {
    background-color: var(--matterColorNegative);
  }
}

.menuItemBorder {
  position: absolute;
  top: 0.125rem;
  left: 0px;
  height: calc(100% - 0.25rem);
  width: 0;
  transition: width var(--transitionStyleButton);
}

.menuContent {
  max-width: 10rem;
  left: -7.75rem !important;
}

.menuItem {
  display: inline;

  /* Text size should be inherited */
  text-decoration: none;

  /* Font is specific to this component */
  font-weight: var(--fontWeightMedium);
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;

  /* Dimensions */
  position: relative;
  min-width: 10rem;
  max-width: 10rem;
  margin: 0;
  padding: 0.75rem 1.5rem;

  /* Layout details */
  color: var(--marketplaceColor);
  text-align: left;
  white-space: nowrap;
  transition: var(--transitionStyleButton);

  /* Borders */
  border: none;
  border-bottom: 1px solid var(--matterColorNegative);

  &:hover {
    cursor: pointer;
    color: var(--matterColorDark);
    text-decoration: none;

    & .menuItemBorder {
      height: 100%;
      width: 0.375rem;
      top: 0;
      background-color: var(--marketplaceColor);
    }
  }

  @media screen(md) {
    line-height: 16px;
    margin-bottom: 0;
  }
}

.cancelMenuItem:hover {
  color: var(--failColor);

  & .menuItemBorder {
    background-color: var(--failColor);
  }
}
