@import '../../styles/customMediaQueries.css';

.root {
  overflow-x: hidden;
  background-color: var(--matterColorLight);
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  height: calc(100vh - var(--topbarHeight));

  @media screen(md) {
    height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;

  @media screen(lg) {
    justify-content: center;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media screen(md) {
    border-radius: 4px 4px 0 0;
  }
}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media screen(md) {
    border-radius: 4px;
  }
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;
  min-height: 90vh;

  @media screen(md) {
    max-width: 100%;
    min-height: calc(100vh - var(--topbarHeightDesktop));
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media screen(lg) {
    max-width: 75rem;
    padding: 0 2.25rem 0 2.25rem;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }

  @media screen(xl) {
    max-width: 75rem;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media screen(md) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media screen(lg) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}

.anchorDiv {
  position: relative;
  top: -100px;
  visibility: hidden;
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  padding-top: 3rem;

  @media screen(md) {
    padding-top: 0;
  }
}

.modal {
  display: flex;
  justify-content: center;
}

.modalScrollLayer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;

  /* Add default background color to avoid bouncing scroll showing the
   page contents from behind the modal. */
  background-color: var(--matterColorLight);

  /* Additional styles for the modal window, dimming the background and positioning the modal */
  min-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.4);

  @media screen(md) {
    align-items: flex-start;
    padding: 0;
    background-image: none;
  }
}

.modalContainer {
  /* flex-grow: 1; */

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  height: 60%;

  @media screen(md) {
    flex-basis: 576px;
    flex-grow: 0;
    min-height: auto;
    height: auto;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

.modalMessage {
  composes: marketplaceModalParagraphStyles from global;

  font-size: 1rem;
  line-height: 1.5rem;

  @media screen(md) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.promoContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem 0;

  & > h1 {
    display: flex;
    flex-shrink: 1;
    width: auto;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    border: 2px solid var(--matterColorAnti);
    color: var(--marketplaceColor);
  }
}

.goldenText {
  color: #ffc000;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;

  @media screen(md) {
    max-width: 75rem;
    padding: 0 2rem;
  }
}
