@import '../../styles/customMediaQueries.css';

.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  padding: 0;

  @media (--viewportMedium) {
    height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 5rem;

  @media (--viewportLarge) {
    justify-content: center;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;
  min-height: 90vh;

  @media (--viewportMedium) {
    max-width: 100%;
    min-height: calc(100vh - var(--topbarHeightDesktop));
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 75rem;
    padding: 0 2.25rem 0 2.25rem;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }

  @media (--viewportXLarge) {
    max-width: 75rem;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}

.anchorDiv {
  position: relative;
  top: -100px;
  visibility: hidden;
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  padding-top: 3rem;

  @media (--viewportMedium) {
    padding-top: 0;
  }
}

.modal {
  display: flex;
  justify-content: center;
}

.modalScrollLayer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;

  /* Add default background color to avoid bouncing scroll showing the
   page contents from behind the modal. */
  background-color: var(--matterColorLight);

  /* Additional styles for the modal window, dimming the background and positioning the modal */
  min-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.4);

  @media (--viewportMedium) {
    align-items: flex-start;
    padding: 0;
    background-image: none;
  }
}

.modalContainer {
  /* flex-grow: 1; */

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  height: 60%;

  @media (--viewportMedium) {
    flex-basis: 576px;
    flex-grow: 0;
    min-height: auto;
    height: auto;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

.modalMessage {
  composes: marketplaceModalParagraphStyles from global;

  font-size: 1rem;
  line-height: 1.5rem;

  @media (--viewportMedium) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.promoContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem 0;

  & > h1 {
    display: flex;
    flex-shrink: 1;
    width: auto;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    border: 2px solid var(--matterColorAnti);
    color: var(--marketplaceColor);
  }
}

.goldenText {
  color: #ffc000;
}

.content {
  padding: 6rem 0;
  max-width: 75rem;
  margin: auto;
}

.employerSection {
  padding: 4rem 0 2rem 0;

  @media (--viewportMedium) {
    padding: 0 0 3rem 0;
  }
}

.caregiverSection {
  padding: 3rem 0 3rem 0;
}

.employerSectionContent {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  margin: auto;
  width: 100%;

  @media (--viewportMedium) {
    flex-direction: row;
  }

  @media (--viewportLarge) {
    max-width: 75rem;
    width: auto;
  }
}

.employerSectionCard {
  background-color: rgb(235, 235, 235);
  border-radius: var(--borderRadius);
  padding: 3rem;

  @media (--viewportMedium) {
    max-width: 27rem;
  }

  @media (--viewportLarge) {
    padding: 4rem 4rem 4rem 3rem;
    max-width: 45rem;
  }
}

.employerSectionImageContainer {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.employerSectionImage {
  width: 100%;
  aspect-ratio: 1/1 !important;
  border-radius: var(--borderRadius);
}

.employerSectionTitle {
  font-size: 1.75rem;
  line-height: 2rem;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 1.313rem;
  margin-bottom: 1.063rem;

  @media (--viewportMedium) {
    font-size: 2.25rem;
    line-height: 2.5rem;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 1.313rem;
    margin-bottom: 1.188rem;
  }
}

.getStartedLinkContainer {
  margin-top: 2rem;
}

.getStartedButton {
  composes: button buttonBorders buttonColors h2 from global;
  color: var(--matterColorLight);
  text-align: center;
  border-radius: 0.675rem;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    display: block;
    max-width: 20rem;
  }
}

.citySection {
  padding: 0 0 3rem 0;
}

.citySectionContent {
  max-width: 75rem;
  margin: auto;
}

.cityCardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
}

.cityName {
  margin: 0;
}

.forCaregivers {
  margin: 0;
  font-weight: normal;
}

.link {
  &:hover {
    text-decoration: none;
  }
}

.blogTitle {
  font-weight: var(--fontWeightMedium);
  font-family: var(--fontFamily);
}
