.outgoingNotificationCard {
  margin-bottom: 2.75rem;
  background-color: var(--marketplaceColor);
}

.outgoingNotificationCardContent {
  padding-bottom: 10px;
}

.outgoingNotificationCardText {
  color: var(--matterColorLight);
}

.mainContainer {
  display: flex;
}

.incomingContainer {
  padding: 1.25rem;
  height: 18.75rem;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.outgoingContainer {
  padding: 20px;
  height: 100px;
}

.cardTitle {
  font-weight: var(--fontWeightBold);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.5px;
  margin: 0;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightSemiBold);
    line-height: 2.5rem;
    letter-spacing: -0.9px;
    margin: 0;
  }
}

.cardMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  display: flex;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
}

.setupButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  padding-block: 1rem;
  /* width: 50%; */
  min-height: 0;
}

.paymentButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  padding-block: 1rem;
  min-height: 0;
  background-color: var(--marketplaceColor);
  color: var(--matterColorLight);
}

.paymentButtonRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
