@import '../../styles/customMediaQueries.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--matterColorAnti);
  width: 100%;
  margin-bottom: 0 !important;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    height: 22rem;
  }
}

.topRow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.threeToTwoWrapper {
  /* Layout */
  display: flex;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
}

.user {
  width: 7rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    width: 10rem;
  }
}

.priceValue {
  /* Font */
  composes: h2 from global;
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--marketplaceColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
}

.perUnit {
  composes: marketplaceBodyFontStyles from global;
  /* Font */
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-left: 1rem;

  margin-top: 1rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.title {
  /* Font */
  composes: h3 from global;
  color: var(--matterColor);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  /* Remove default margins from font */
  margin-top: 0.5rem;
  margin-bottom: 0;

  @media (--viewportMedium) {
    composes: h2 from global;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.location {
  margin: 0;
  color: var(--marketplaceColor);
}

.topInfo {
  max-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0.2rem;
  margin-left: 1rem;
}

.topText {
  padding-left: 1rem;
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.avatar {
  width: 5rem;
  height: 5rem;
  margin: auto;

  @media (--viewportMedium) {
    width: 10rem;
    height: 10rem;
  }
}

.avatarInitials {
  font-size: 2.5rem;
  font-weight: var(--fontWeightSemiBold);

  @media (--viewportMedium) {
    font-size: 5rem;
  }
}

.providedServices {
  color: var(--matterColor);
  display: flex;
  margin-top: 0.75rem;
  text-align: center;
}

.bold {
  font-weight: var(--fontWeightBold);
  color: var(--matterColor);
}

.serviceCardList {
  display: flex;
}

.serviceCardItem {
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--matterColorNegative);
  margin-right: 0.7rem;
  margin-block: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 2rem;
  flex-grow: 1;
  /* min-height: 6rem; */

  &:hover {
    text-decoration: none;
  }
}

.messageButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  min-height: 0;

  padding: 1rem;
  max-width: 15rem;
  text-decoration: none;
  margin: auto;
}

.container {
  position: relative;
  display: block;
}

.premiumIcon {
  width: 0.75rem;
  height: 0.5rem;
  left: 0.3rem;
  position: absolute;

  @media (--viewportMedium) {
    width: 1rem;
    height: 0.75rem;
    left: 0.5rem;
  }
}

.goldBadge {
  /* border: solid 2px rgba(202, 170, 86, 1); */

  margin-right: 1rem;
}

.badge {
  border: solid 2px var(--marketplaceColor);
  margin-right: 1rem;
  padding-inline: 0.25rem;

  @media (--viewportMedium) {
    padding: 0.1rem 0.6rem;
  }
}

.badges {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;

  @media (--viewportMedium) {
    margin-block: 1rem;
  }
}

.certAndTrainWrapper {
  padding: 0.5rem;
}

.certAndTrainTitle {
  composes: h3 from global;
  margin-bottom: 0;
  text-align: center;
}

.certAndTrainList {
  list-style-type: disc;
  text-align: left;
  margin-inline: 0.5rem;
}

.note {
  text-align: center;
  margin-top: 0;
  font-size: 12px;
  line-height: 12px;
}

.yearsExperience {
  composes: h4 from global;
  margin: 0;
  padding: 0;
  color: var(--marketplaceColor);
  white-space: nowrap;
}
