@import '../../styles/customMediaQueries.css';

.container {
  max-width: 60rem;
}

.root {
  /* Layout */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 1px var(--matterColor);

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: flex;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
}

.user {
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.priceValue {
  /* Font */
  composes: h2 from global;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  composes: marketplaceTinyFontStyles from global;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  width: 100%;
  padding-left: 1rem;
}

.title {
  /* Font */
  composes: h2 from global;
  color: var(--matterColor);
  position: relative;

  /* Remove default margins from font */
  margin-top: 0.5rem;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.location {
  display: flex;
}

.topInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.avatar {
  width: 10rem;
  height: 10rem;

  &.premium {
    border: solid 5px var(--marketplaceColorLight);
    border-radius: 3rem;
  }
}

.avatarInitials {
  font-size: xxx-large;
}

.providedServices {
  color: var(--matterColor);
  display: flex;
  margin: 0.75rem 0;
}

.bold {
  font-weight: var(--fontWeightBold);
  color: var(--matterColor);
}

.serviceCardList {
  display: flex;
}

.serviceCardItem {
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--matterColorNegative);
  margin: 0 0.5rem;
}

.messageButton {
  right: 0;
  top: 0;
  max-width: 8rem;
  max-height: 2.5rem;
  min-height: 2.5rem;
  padding-block: 0px;
  opacity: 80%;
}

.container {
  position: relative;
  display: block;
}

.premiumIcon {
  position: absolute;
  left: 0.5rem;
}

.schedule {
  display: flex;
  flex-direction: row;
  margin-block: 0.5rem;
}

.dayBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1px var(--matterColorAnti);
  color: var(--matterColorAnti);
  margin: 0 0.25rem;

  &.active {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
    border: solid 1px var(--marketPlaceColor);
  }
}

.badge {
  padding: 0.1rem;
  border: solid 2px var(--marketplaceColor);
  margin-right: 1rem;
}

.badges {
  display: flex;
  flex-direction: row;
  margin-block: 1rem;
  align-items: center;
}

.certAndTrainWrapper {
  padding: 0.5rem;
}

.certAndTrainTitle {
  composes: h3 from global;
  margin-bottom: 0;
  text-align: center;
}

.certAndTrainList {
  list-style-type: disc;
  text-align: center;
}

.note {
  text-align: center;
  margin-top: 0;
  font-size: 12px;
  line-height: 12px;
}

.yearsExperience {
  composes: h4 from global;
  margin: 0;
  padding: 0;
  color: var(--marketplaceColor);
}
