

.root {
  /* Expand to available space */
  flex-grow: 1;

  /* Dimensions */
  width: 100%;
  height: calc(100vh - var(--topbarHeight) - 8rem);

  /* Layout */
  display: flex;
  flex-direction: column;

  @media screen(md) {
    padding-top: 1px;
    height: auto;
  }
}

.features {
  margin-bottom: 1.5rem;

  @media screen(md) {
    margin-bottom: 2rem;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: 5rem;
  margin-bottom: 2rem;
  flex-shrink: 0;

  @media screen(lg) {
    display: inline-block;
    width: 15.063rem;
    margin-top: 6.25rem;
  }
}
