<html>
  <head>
    <meta name="supported-color-schemes" content="light dark" />

    <style>
      @media (prefers-color-scheme: dark) {
        .inner-table {
          background-color: #1c1c1c !important;
        }

        .button {
          color: #1c1c1c !important;
        }
      }

      @media screen and (max-width: 768px) {
        .inner-table {
          border-radius: 0 !important;
        }

        .outer-td {
          padding: 0 !important;
        }
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0; background-color: #6BA0B6;">
    <table
      style="border-collapse:collapse;margin:0;padding:0;height:100%; width:100%; background-color: #6BA0B6; color: #6BA0B6"
      width="100%"
      height="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      align="center"
    >
      <tbody>
        <tr>
          <td
            style="padding: 25px 0; border-top: 0; height: 100%; width: 100%;"
            valign="top"
            align="center"
            class="outer-td"
          >
            <table
              class="inner-table"
              style="border-collapse:collapse; border:0; max-width: 450px; background-color: #FFFFFF; border-radius: 10px;"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tbody>
                <tr>
                  <td style="padding: 0 25px 25px 25px;">
                    <table>
                      <tbody>
                        <tr>
                          <td align="center">
                            <a href="{{marketplace.url}}">
                              <img
                                src="https://carevine-email-images.s3.us-west-2.amazonaws.com/carevine-logo.png"
                                class="logo"
                                style="height: 50px;width: 176px;padding-top: 16px;"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 32px; width: 100%;text-align: center;margin: 0;color: #6BA0B6;font-size: 40px; line-height: 130%;font-family: Helvetica;"
                            >
                              Booking Request Declined
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 24px; padding-bottom: 32px;width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              <span style="white-space: nowrap"
                                >{{transaction.provider.display-name}}</span
                              >
                              was not available for your requested booking. Click the button below
                              to go to CareVine and book another caregiver who meets your care
                              needs.
                            </p>
                          </td>
                        </tr>
                        <tr align="center">
                          <td>
                            <a
                              href="{{marketplace.url}}/bookings"
                              style="padding: 12px 24px;height: 44px;margin-top: 12px;background: #6BA0B6;border-radius: 10px;border: none;color: #ffffff; font-family: Trebuchet MS, Verdana, Arial; font-weight: bold; font-size: 14px; line-height: 20px; color: #FFFFFF; text-decoration: none;"
                              class="button"
                              >Go to CareVine</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="padding-top: 64px; padding-bottom: 16px; border-bottom: 1px solid #6BA0B6"
                          >
                            <p
                              style="width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica;"
                            >
                              If you have any questions or concerns, please contact
                              <a href="support@carevine.us" style="color: #6BA0B6;"
                                >CareVine Support</a
                              >.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table align="center" style="padding-top: 16px;">
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="{{marketplace.url}}/contact-us"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Contact Us</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="{{marketplace.url}}/privacy-policy"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Privacy-Policy</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="{{marketplace.url}}/terms-of-service"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Terms &amp; Conditions</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
