@import '../../styles/customMediaQueries.css';

.root {
  padding-block: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.user {
  max-width: 85%;
  display: grid;
  grid-template-columns: auto auto;

  @media (--viewportMedium) {
    max-width: 70%;
  }
}

.userDisplay {
  text-align: center;
}

.goldBadge {
  margin-left: 0.5rem;

  @media (--viewportMedium) {
    margin-left: 1rem;
    margin-top: 0.25rem;
  }
}

.nameContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (--viewportMedium) {
    width: auto;
    margin-top: 0;
  }
}

.ownListingButtonContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @media (--viewportMedium) {
    width: auto;
    margin-top: 0;

    flex-direction: column;
  }
}

.button {
  min-height: 0;
  padding: 0.75rem 2rem;
  min-width: 0;
  border: 2px solid var(--marketplaceColor);
}

.secondaryButton {
  min-height: 0;
  padding: 0.75rem 2rem;
  min-width: 0;
  max-width: 10rem;
}

.previewButton {
  min-height: 0;
  padding: 0.75rem 2rem;
  max-width: 13rem;
}

.avatar {
  width: 5rem;
  height: 5rem;
  margin: auto;

  @media (--viewportMedium) {
    width: 10rem;
    height: 10rem;
  }
}

.avatarInitials {
  font-size: 2.5rem;
  font-weight: var(--fontWeightSemiBold);

  @media (--viewportMedium) {
    font-size: 5rem;
  }
}

.topInfo {
  max-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 0.2rem;
  margin-left: 2rem;

  @media (--viewportMedium) {
    margin-left: 1rem;
    justify-content: flex-start;
  }
}

.priceValue {
  /* Font */
  composes: h1 from global;

  color: var(--marketplaceColor);

  /* Remove default margins from font */
  margin-top: 1rem;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.perUnit {
  composes: marketplaceBodyFontStyles from global;
  /* Font */
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.name {
  /* Font */
  composes: h1 from global;
  color: var(--matterColor);
  position: relative;
  width: 100%;

  /* Remove default margins from font */
  margin: 0;

  /* @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  } */
}

.title {
  /* Font */
  font-weight: var(--fontWeightSemiBold);
  font-size: 1.125rem;
  line-height: 1.5rem;

  color: var(--matterColor);
  position: relative;
  width: 100%;

  /* Remove default margins from font */
  margin: 0;

  @media (--viewportMedium) {
    font-size: 1.313rem;
    line-height: 1.5rem;
  }
}

.locations {
  @media (--viewportMedium) {
    display: block;
  }
}

.location {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;

  @media (--viewportMedium) {
    display: block;
  }
}

.longWord {
  overflow-wrap: break-word;
}

.topInfo {
  display: flex;
}
