@import '../../styles/customMediaQueries.css';

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

.planDisplay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inlineToggle {
  composes: h3 from global;
  width: 100%;
  margin-top: 2rem;
}

.sessionsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sessions {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  border-top: solid 1px var(--matterColorNegative);
  border-right: solid 1px var(--matterColorNegative);
  border-left: solid 1px var(--matterColorNegative);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 11px;
  overflow-y: scroll;
  max-height: 15rem;

  & > .exception {
    border-bottom: solid 1px var(--matterColorNegative);
  }
}

.session {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 0px;
  border-bottom: 1px solid var(--matterColorNegative);
}

.oneTimeSession {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0px 0.75rem 0px;
  border-bottom: 1px solid var(--matterColorNegative);
}

.oneTimeSessions {
  display: flex;
  flex-direction: row;
  flex-basis: 70%;
  flex-wrap: wrap;
  border-top: solid 1px var(--matterColorNegative);
  border-right: solid 1px var(--matterColorNegative);
  border-left: solid 1px var(--matterColorNegative);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 11px;
  overflow-y: scroll;
  max-height: 15rem;
  cursor: pointer;
}

.sessionHeader {
  display: flex;
  flex-direction: row;
}

.timeRange {
  /* composes: h5 from global; */
  /* margin: -2px 12px 13px 32px; */
  color: var(--matterColorAnti);
}

.item {
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--matterColorNegative);
  margin: 0.5rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.datesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.dateContainer {
  display: flex;
}

.bold {
  composes: h3 from global;
  font-weight: var(--fontWeightSemiBold);
}

.weeklySchedule {
  composes: h3 from global;
  margin-top: 0;
}

.previewDay {
  width: 3rem !important;
  height: 3rem !important;
}

.scheduleSelectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.editButton {
  width: auto;
  min-height: 0;
  padding: 1rem;
  composes: h2 from global;
  margin: 0;
}

.addScheduleButton {
  composes: marketplaceButtonStyles from global;
  margin-top: 2rem;
  width: auto;
  padding-inline: 1rem;
}

.inlineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.twentyFourListView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.repeatEditModalContainer {
  flex-grow: 1;

  /* Create context so the close button can be positioned within it */
  position: relative;

  /* Display and dimensions */
  display: flex;
  flex-direction: column;
  padding: var(--modalPadding);

  background-color: var(--matterColorLight);
  border-radius: var(--borderRadius);
  border-bottom: none;

  min-height: 100vh;
  height: 100%;

  @media (--viewportMedium) {
    flex-basis: 40rem;
    flex-grow: 0;
    min-height: auto;
    height: auto;

    padding: var(--modalPaddingMedium);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-bottom: 8px solid var(--marketplaceColor);
  }
}

.exceptions {
  flex-basis: 100% !important;
}

.goBackButton {
  composes: marketplaceModalCloseStyles from global;
  left: 0;
}

.goBackText {
  composes: marketplaceModalCloseText from global;
}

.arrowIcon {
  composes: marketplaceModalCloseIcon from global;
  margin-right: 0.5rem;
  stroke-width: 3px;
}

@media (--viewportMedium) {
  .sessions {
    margin-bottom: 8px;
  }

  .timeRange {
    padding: 6px 0 2px 0;
    margin: -8px 44px 15px 44px;
  }
}
