@import '../../../styles/customMediaQueries.css';

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;

  padding-top: 5rem;
  /* min-height: 100vh; */
  /* height: 100%; */

  background-color: var(--matterColorBright);

  @media screen(md) {
    min-width: 35rem;
  }
}

.modalButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

.cancelModalButton {
  composes: button buttonFont buttonText buttonBorders from global;

  padding: 1rem 2rem;
  width: 8rem;
  height: auto;
  min-height: 0;
  display: inline;
  margin-left: 1rem;
}

.reactivateModalButton {
  margin-inline: 1rem;
}

.modalError {
  color: var(--failColor);
  margin-top: 1rem;
}

.modalButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

.cancelModalButton {
  composes: button buttonFont buttonText buttonBorders from global;

  padding: 1rem 2rem;
  width: 8rem;
  height: auto;
  min-height: 0;
  display: inline;
  margin-left: 1rem;
}

.spreadSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textSm {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightMedium);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.1px;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 12px;
  margin-bottom: 12px;

  @media screen(md) {
    font-size: 14px;
    line-height: 28px;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.wontChargeUntil {
  color: var(--marketplaceColor);
  margin-bottom: 1rem;
}

.marketplaceColor {
  color: var(--marketplaceColor);
}

.greyedtext {
  color: var(--matterColorAnti);
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.newDiscount {
  color: var(--successColor);
}
