@import '../../styles/customMediaQueries.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);
  display: flex;

  @media screen(lg) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.textarea {
  composes: h4 from global;
  border-bottom-width: 0;

  /* Avoid text going behind the submit button */
  padding: 1.375rem 1rem 1.375rem 0;

  margin: 0;

  /* We need to remove horizontal paddings,
   since textarea uses content-box (autosize library fix). */
  width: calc(100% - 52px);

  border-bottom-width: 2px;
  border-bottom-color: var(--attentionColor);
  background-color: transparent;

  @media screen(md) {
    margin: 0;
  }
  @media screen(lg) {
    padding: 0 0 5px 0;
    margin: 0;
    width: 100%;
  }
}

.spinner {
  stroke: var(--matterColorLight);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--successColor);
}

.strokeMatter {
  stroke: var(--matterColor);
}

.submitContainer {
  display: flex;
  flex-direction: row;
}

.errorContainer {
  display: block;
  flex: 1;
  text-align: right;
  padding: 26px 24px 0 0;
}

.error {
  composes: h5 from global;

  font-weight: var(--fontWeightMedium);
  color: var(--failColor);
  margin: 0;
}

.submitButton {
  composes: button buttonText buttonBordersSecondary buttonColorsSecondary from global;

  font-family: 'poppins', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;

  font-weight: var(--fontWeightMedium);

  float: right;
  padding: 0 16px;
  min-height: auto;
  height: 2.5rem;
  margin-right: 2rem;

  display: inline-block;
  width: auto;

  &:hover {
    background-color: var(--matterColorLight);
    box-shadow: var(--boxShadowLight);
  }
}

.sendIcon {
}

.messageInputRoot {
  display: flex;
  flex-grow: 1;
  margin-left: 2rem;
}

.messageInput {
  display: inline;
  width: 100%;

  position: relative;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  height: 3.5rem;
  overflow-y: scroll;
  letter-spacing: normal;
  padding: 18px 2rem 18px 16px;
  box-sizing: border-box;
  resize: none;
  background-color: inherit;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.88);
  caret-color: var(--marketplaceColor);
  border: solid 2px rgba(0, 0, 0, 0.38) !important;
  background-color: #ffffff;

  &:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.88);
    border: solid 2px var(--marketplaceColor) !important;
  }

  &:active {
    border: solid 2px var(--matterColor) !important;
    color: rgba(0, 0, 0, 0.88);
  }

  @media screen(md) {
    padding-right: 4rem;
  }
}
