<html>
  <head>
    <meta name="supported-color-schemes" content="light dark" />

    <style>
      @media (prefers-color-scheme: dark) {
        .black-text {
          color: #1c1c1c !important;
          border-color: #1c1c1c !important;
        }

        .inner-table {
          background-color: #1c1c1c !important;
        }

        .button {
          color: #1c1c1c !important;
        }
      }

      @media screen and (max-width: 768px) {
        .booking-summary-card {
          max-width: 90% !important;
        }

        .inner-table {
          border-radius: 0 !important;
        }

        .outer-td {
          padding: 0 !important;
        }

        .inner-td {
          padding: 0 0 25px 0 !important;
        }
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0; background-color: #6BA0B6; width: 100%;">
    <table
      style="border-collapse:collapse;margin:0;padding:0;height:100%; width:100%; background-color: #6BA0B6; color: #6BA0B6"
      width="100%"
      height="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      align="center"
    >
      <tbody>
        <tr>
          <td
            style="padding: 25px 0; border-top: 0; height: 100%; width: 100%;"
            valign="top"
            align="center"
            class="outer-td"
          >
            <table
              class="inner-table"
              style="border-collapse:collapse; border:0; max-width: 450px; width: 100%; background-color: #FFFFFF; border-radius: 10px;"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tbody>
                <tr>
                  <td style="padding: 0 25px 25px 25px;" class="inner-td">
                    <table>
                      <tbody>
                        <tr>
                          <td align="center">
                            <a href="{{marketplace.url}}" class="logo-link">
                              <img
                                src="https://carevine-email-images.s3.us-west-2.amazonaws.com/carevine-logo.png"
                                class="logo"
                                style="height: 50px;width: 176px;padding-top: 16px;"
                              />
                            </a>
                            <p
                              style="padding: 0; margin-top: 8px;margin-bottom: 0;width: 100%;text-align: center;color: #77a08a;font-size: 16px; line-height: 150%;font-family: Helvetica; font-weight: bold;"
                            >
                              <a
                                style="color: #77a08a; text-decoration: underline;"
                                href="{{marketplace.url}}/bookings/bookings?bookingId={{transaction.id}}"
                                >Booking #{{transaction.metadata.bookingNumber}}</a
                              >
                            </p>
                          </td>
                        </tr>
                        {{#if transaction.metadata.employerCancel}}
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 32px;width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              {{#if transaction.metadata.waitingForPayment}} Your payment method was
                              not able to be charged prior to your booking with
                              <span style="white-space: nowrap"
                                >{{transaction.provider.display-name}}</span
                              >. Because of this, your booking is now canceled. {{else}} Your
                              booking with
                              <span style="white-space: nowrap"
                                >{{transaction.provider.display-name}}</span
                              >
                              has been successfully canceled. {{/if}} {{#if
                              transaction.metadata.totalRefund}} You will be refunded
                              ${{transaction.metadata.totalRefund}} for the remaining time.{{/if}}
                            </p>
                          </td>
                        </tr>
                        {{else}}
                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 32px;width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              <span style="white-space: nowrap"
                                >{{transaction.provider.display-name}}</span
                              >
                              has canceled the remainder of your booking. {{#if
                              transaction.metadata.totalRefund}} You will receive a refund of
                              ${{transaction.metadata.totalRefund}} in accordance with our
                              <a
                                style="color: #6BA0B6; text-decoration: underline; white-space: nowrap;"
                                href="{{marketplace.url}}/terms-of-service#cancellation-policy"
                                >cancellation policy</a
                              >.{{/if}}
                            </p>
                          </td>
                        </tr>

                        {{/if}}

                        <tr>
                          <td align="center">
                            <p
                              class="title"
                              style="padding-top: 16px;width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              {{#if transaction.metadata.totalRefund}} You can view the breakdown of
                              the refund below. {{else}} {{#unless
                              transaction.metadata.waitingForPayment}} Your payment method was not
                              charged. {{/unless}} {{/if}}
                            </p>
                          </td>
                        </tr>

                        {{#if transaction.metadata.totalRefund}}
                        <tr>
                          <td align="center">
                            <table
                              class="booking-summary-card"
                              style="margin-top: 24px;width: 100%;text-align: left;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica; background-color: #6BA0B6; border-radius: 10px;"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p
                                      class="black-text"
                                      style="padding-top: 16px;width: 100%;text-align: left;margin: 0;color: #FFFFFF;font-size: 20px; line-height: 150%;font-family: Helvetica;padding-left: 20px;"
                                    >
                                      <b>Refund Summary</b>
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-left: 20px;">
                                    {{#each transaction.metadata.refundItems}}
                                    <table
                                      class="black-text"
                                      style="width:94%;margin-top:8px;border-collapse:collapse;color: #6BA0B6; font-size: 12px; line-height: 150%;font-family: Helvetica; border-bottom: 1px solid #FFFFFF;color: #FFFFFF;"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            class="black-text"
                                            style="vertical-align:top; padding-left: 20px;color: #FFFFFF;"
                                          >
                                            <b
                                              >{{this.shortDay}}, {{this.date}} {{#if this.isFifty}}
                                              <span style="color: #ff0000">(50%)</span> {{/if}}
                                            </b>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            class="black-text"
                                            style="font-size:14px;padding-left: 20px;color: #FFFFFF;"
                                          >
                                            Base Fee Refund
                                          </td>
                                          <td
                                            class="black-text"
                                            style="font-size:14px; padding-right: 20px;color: #FFFFFF;"
                                            align="right"
                                          >
                                            ${{this.base}}
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            class="black-text"
                                            style="font-size:14px;padding-left: 20px; padding-bottom: 8px;color: #FFFFFF;"
                                          >
                                            Booking Fee Refund
                                          </td>
                                          <td
                                            class="black-text"
                                            style="font-size:14px; padding-right: 20px;color: #FFFFFF;"
                                            align="right"
                                          >
                                            ${{this.bookingFee}}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    {{/each}}
                                    <table
                                      style="width:94%;margin-top:8px;border-collapse:collapse;color: #FFFFFF; font-size: 16px; line-height: 150%;font-family: Helvetica;"
                                    >
                                      <tr>
                                        <td
                                          class="black-text"
                                          style="font-size:14px;padding-left:20px;color: #FFFFFF;"
                                        >
                                          Total Base Fee Refund
                                        </td>
                                        <td
                                          class="black-text"
                                          style="font-size:14px; padding-right: 20px;color: #FFFFFF;"
                                          align="right"
                                        >
                                          ${{transaction.metadata.refundAmount}}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          class="black-text"
                                          style="font-size:14px;padding-left: 20px;color: #FFFFFF;"
                                        >
                                          Total Booking Fee Refund
                                        </td>
                                        <td
                                          class="black-text"
                                          style="font-size:14px; padding-right: 20px;color: #FFFFFF;"
                                          align="right"
                                        >
                                          ${{transaction.metadata.bookingFeeRefundAmount}}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          class="black-text"
                                          style="vertical-align:top; font-size:18px;color: #FFFFFF;padding-bottom: 12px;padding-left: 20px;"
                                        >
                                          <b>Total Refund</b>
                                        </td>
                                        <td
                                          class="black-text"
                                          style="font-size:18px; padding-right: 20px;color: #FFFFFF;padding-bottom: 12px;"
                                          align="right"
                                        >
                                          <b>${{transaction.metadata.totalRefund}}</b>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {{/if}} {{#if transaction.metadata.waitingForPayment}}
                        <tr>
                          <td>
                            <p
                              style="padding-top: 40px;padding-bottom: 24px;width: 100%;text-align: center;margin: 0;color: #6BA0B6;font-size: 16px; line-height: 150%;font-family: Helvetica;"
                            >
                              Click the button below to go to CareVine and create another booking.
                            </p>
                          </td>
                        </tr>
                        <tr align="center">
                          <td style="padding-bottom: 40px;">
                            <a
                              href="{{marketplace.url}}"
                              style="padding: 12px 24px;height: 44px;margin-top: 12px;background: #6BA0B6;border-radius: 10px;border: none;color: #ffffff; font-family: Trebuchet MS, Verdana, Arial; font-weight: bold; font-size: 14px; line-height: 20px; color: #FFFFFF; text-decoration: none;"
                              class="button"
                              >Go to CareVine</a
                            >
                          </td>
                        </tr>
                        {{/if}}
                        <tr>
                          <td
                            style="padding-top: 32px; padding-bottom: 16px; border-bottom: 1px solid #6BA0B6"
                          >
                            <p
                              style="width: 100%;text-align: center;margin: 0;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica;"
                            >
                              If you have any questions or concerns, please contact
                              <a
                                href="mailto:support@carevine.us"
                                style="width: 100%;text-align: left;margin: 0;color: #6BA0B6;font-size: 12px; line-height: 150%;font-family: Helvetica; text-decoration: underline; white-space: nowrap;"
                                >CareVine Support</a
                              >.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table align="center" style="padding-top: 16px;">
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/contact-us"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Contact Us</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/privacy-policy"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Privacy-Policy</a
                                    >
                                  </td>
                                  <td>
                                    <a
                                      class="footer-link"
                                      href="https://carevine.us/terms-of-service"
                                      style="color: #6BA0B6;margin-left: 8px;margin-right: 8px;font-family: Trebuchet MS, Verdana, Arial;font-size: 10.8px;font-weight: bold;line-height: 12px; white-space: nowrap; text-decoration: underline;"
                                      >Terms &amp; Conditions</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
