@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  padding: 1.5rem 2rem !important;

  @media (--viewportMedium) {
    padding: 3rem calc((100% - 75rem) / 2) 5.125rem 3.688rem !important;
  }
}

.screeningRoot {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap-reverse;
  justify-content: center;

  @media (--viewportMedium) {
    flex-wrap: wrap;
  }
}

.backgroundCheckDescription {
  composes: marketplaceTinyFontStyles from global;
  margin-top: 2rem;
  text-align: center;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 2rem;
    width: 50%;
  }
}

.bcDescriptionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  flex-grow: 1;
}

.title {
  margin-bottom: 19px;
  width: 100%;

  @media (--viewportLarge) {
    margin-bottom: 38px;
    padding: 1px 0 7px 0;
  }
}

.quizTitle {
  width: 100%;

  @media (--viewportLarge) {
    margin-bottom: 0;
    padding: 1px 0 7px 0;
  }
}

.attemptsContainer {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.attemptsHeader {
  display: inline;
  color: var(--marketplaceColor);
  margin-right: 2rem;
}

.bioText {
  color: var(--marketplaceColor);
}

.consentModal {
  composes: marketplaceModalBaseStyles from global;

  padding-inline: 2rem;

  @media (--viewportMedium) {
    padding-inline: 4rem;
  }
}

.screeningTitleContainer {
  width: 100%;
  text-align: center;
}

.screeningTitle {
  margin-bottom: 0;
}

.amountPerYear {
  margin-top: 0;
  color: var(--marketplaceColor);
  font-weight: 600;
}

.benefitsListContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 2rem;
}

.benefitsList {
  list-style-image: url('../../assets/checkmark-mobile.svg');
  display: block;
  padding-left: 1rem;
  margin-top: 1rem;

  & > li > p {
    margin-block: 0.2rem;
  }

  @media (--viewportMedium) {
    list-style-image: url('../../assets/checkmark.svg');
  }
}

.negativeList {
  list-style-image: url('../../assets/x-icon-mobile.svg');
  display: block;
  padding-left: 1rem;
  color: var(--matterColorAnti);

  & > li > p {
    margin-block: 0.2rem;
  }

  @media (--viewportMedium) {
    list-style-image: url('../../assets/x-icon.svg');
  }
}

.payButton {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
}

.confirmationText {
  font-size: 30px;
  line-height: 36px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  max-width: 30rem;
  text-align: center;
}

.redirectingText {
  width: 100%;
  text-align: center;
  color: var(--marketplaceColor);
}

.confirmationContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.iconContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  max-height: 10rem;
}

.rejectedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.rejectedIconContainer {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: var(--failColor);
  position: relative;
}

.rejectedIcon {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: var(--matterColorLight);
  stroke: var(--matterColorLight);
}

.rejectedText {
  font-size: 30px;
  line-height: 36px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  max-width: 40rem;
  text-align: center;
  margin-bottom: 0;
}

.goToNextTabButton {
  margin-top: 20px;
  margin-bottom: 24px;
  flex-shrink: 0;
  max-width: 30rem;
}

.paymentForm {
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;

  @media (--viewportMedium) {
    padding-right: 20px;
    border-right: 1px solid var(--matterColorAnti);
    margin-bottom: 0;
  }
}

.paymentContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  @media (--viewportMedium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  @media (--viewportMedium) {
    height: 100%;
  }
}

.spinner {
  width: 4rem;
  height: 4rem;
  stroke-width: 3px;
}

.spreadSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textSm {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightMedium);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.1px;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 12px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    font-size: 14px;
    line-height: 28px;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.content {
  @media (--viewportMedium) {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 32px auto 0 auto;
    width: 100%;
    max-width: 564px;
    flex-wrap: wrap;
  }

  @media (--viewportLarge) {
    margin: 0;
  }
}

.identityText {
  color: var(--marketplaceColor);
}

.basicCard {
  margin-block: 2rem;

  @media (--viewportMedium) {
    margin-right: 0.5rem;
    margin-block: 0;
  }
}

.vineCheckCard {
  margin-block: 2rem;

  @media (--viewportMedium) {
    margin-left: 0.5rem;
    margin-block: 0;
  }
}

.promoContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.applyButton {
  width: auto;
  min-height: 0;
  padding-block: 0.5rem;
  width: 5rem;
  margin-left: 2rem;
}

.promoInput {
  border-bottom-color: var(--matterColor);
}

.error {
  color: var(--failColor);
}

.success {
  color: var(--successColor);
}

.greyedtext {
  color: var(--matterColorAnti);
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.newDiscount {
  color: var(--successColor);
}
