.section {
  padding: 2rem 0 0 0;
}

.title {
  composes: h1 from global;

  margin: 0;
}

.itemContainer {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.subTitle {
  text-align: left;
  width: auto;
  margin-bottom: 0.5rem;
}

.sharedItem {
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--marketplaceColor);
  margin: 0.5rem;
  color: var(--matterColorBright);
}

.item {
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--matterColorNegative);
  margin: 0.5rem;
}
