.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 1.5rem auto;

  @media screen(md) {
    width: calc(100% - 72px);
    margin: 2rem auto;
  }
}

.coverImage {
  width: 100%;
  border-radius: var(--borderRadius);
  object-fit: cover;
  margin: 2rem 0 2.5rem;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen(md) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media screen(md) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media screen(md) {
    max-width: 650px;
  }
}

.subtitle {
  margin-top: 32px;
  margin-bottom: 16px;
}
