.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--marketplaceColor);
  font-size: 3rem;
  line-height: 3.5rem;
  width: 100%;
  text-align: center;
}

.message {
  color: var(--marketplaceColor);
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.linkButton {
  composes: button buttonText buttonFont buttonColors buttonBorders from global;

  width: auto;
  min-height: 0;
  min-width: 0;
  padding: 1rem 3rem;
}

.noWrapText {
  white-space: nowrap;
}

.error {
  color: var(--failColor);
}
