{:format :v3,
 :transitions
 [{:name :transition/request-booking,
 :actions
 [{:name :action/privileged-update-metadata}]
   :actor :actor.role/customer,
   :to :state/booking-requested,
   :privileged? true}
  {:name :transition/decline-booking,
   :actor :actor.role/provider,
   :from :state/booking-requested,
   :to :state/declined}
  {:name :transition/expire-booking,
   :at
   {:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/booking-requested]}
       {:fn/period ["P3D"]}]},
   :from :state/booking-requested,
   :to :state/declined}
  {:name :transition/accept-booking,
   :actor :actor.role/provider,
   :from :state/booking-requested,
   :to :state/accepted}
   {:name :transition/cancel-booking-request,
   :actor :actor.role/customer,
   :from :state/booking-requested,
   :to :state/canceled}
   {:name :transition/cancel-booking-customer,
   :actor :actor.role/customer,
   :from :state/accepted,
   :to :state/canceled}
   {:name :transition/cancel-booking-provider,
   :actor :actor.role/provider,
   :from :state/accepted,
   :to :state/canceled}
   {:name :transition/complete,
   :at {:fn/timepoint [:time/booking-end]},
   :from :state/accepted,
   :to :state/delivered}
   {:name :transition/pay-caregiver-after-completion,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/delivered]} {:fn/period ["P2D"]}]},
   :from :state/delivered,
   :to :state/paid-out}
   {:name :transition/dispute,
   :actor :actor.role/customer,
   :from :state/delivered,
   :to :state/dispute-review}
  {:name :transition/dispute-resolved,
    :actor :actor.role/operator,
   :from :state/dispute-review,
   :to :state/paid-out}
   {:name :transition/review-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/paid-out,
   :to :state/reviewed}
   {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/paid-out]} {:fn/period ["P7D"]}]},
   :from :state/paid-out,
   :to :state/reviewed}],
 :notifications
 [{:name :notification/new-booking-request,
   :on :transition/request-booking,
   :to :actor.role/provider,
   :template :new-booking-request}

  {:name :notification/booking-request-accepted,
   :on :transition/accept-booking,
   :to :actor.role/customer,
   :template :booking-request-accepted}

   {:name :notification/new-booking-confirmed,
   :on :transition/accept-booking,
   :to :actor.role/provider,
   :template :booking-confirmed}

  {:name :notification/booking-request-declined,
   :on :transition/decline-booking,
   :to :actor.role/customer,
   :template :booking-request-declined}

  {:name :notification/booking-request-auto-declined,
   :on :transition/expire-booking,
   :to :actor.role/customer,
   :template :booking-request-auto-declined}

  {:name :notification/booking-request-canceled-confirmation,
    :on :transition/cancel-booking-request,
    :to :actor.role/customer,
    :template :booking-request-canceled-confirmation}

    {:name :notification/booking-request-canceled,
    :on :transition/cancel-booking-request,
    :to :actor.role/provider,
    :template :booking-request-canceled}

    {:name :notification/booking-canceled-customer-confirmation,
    :on :transition/cancel-booking-customer,
    :to :actor.role/customer,
    :template :booking-canceled-customer-confirmation}

    {:name :notification/customer-canceled-booking,
    :on :transition/cancel-booking-customer,
    :to :actor.role/provider,
    :template :customer-canceled-booking}

    {:name :notification/booking-canceled-provider-confirmation,
    :on :transition/cancel-booking-provider,
    :to :actor.role/provider
    :template :booking-canceled-provider-confirmation}

    {:name :notification/provider-canceled-booking,
    :on :transition/cancel-booking-provider,
    :to :actor.role/customer,
    :template :provider-canceled-booking}

    {:name :notification/booking-completed,
    :on :transition/complete,
    :to :actor.role/customer,
    :template :booking-completed}

  {:name :notification/booking-completed-provider,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :booking-completed-provider}

   {:name :notification/dispute-in-review,
   :on :transition/dispute,
   :to :actor.role/customer,
   :template :dispute-in-review}

   {:name :notification/dispute-requested,
   :on :transition/dispute,
   :to :actor.role/provider,
   :template :dispute-requested}

   {:name :notification/customer-can-review-dispute,
    :on :transition/dispute-resolved,
    :to :actor.role/customer,
    :template :customer-can-review}

    {:name :notification/customer-can-review-normal,
    :on :transition/pay-caregiver-after-completion,
    :to :actor.role/customer,
    :template :customer-can-review}

    {:name :notification/customer-reviewed,
    :on :transition/review-by-customer,
    :to :actor.role/provider,
    :template :customer-reviewed}

    {:name :notification/review-period-expired,
    :on :transition/expire-review-period,
    :to :actor.role/customer
    :template :review-period-expired}
]}
