@import '../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.formMargins {
  margin-bottom: 2rem;
}

.select {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  width: 5rem;
  color: var(--matterColor);

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColor);
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    /* margin-top: 100px; */
  }
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  padding-bottom: 2rem;
}
