@import '../../styles/customMediaQueries.css';

.fieldContainer {
  margin-bottom: 4rem;

  & > h2 {
    width: 100%;
    text-align: center;
  }
}

.fieldLabel {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;

  @media (--viewportLarge) {
    margin-top: 0;
  }
}

.priceRange {
  padding: 0 2rem;
}

.track {
  background-color: var(--marketplaceColor);
}

.availableRatesContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2.5rem;

  & p {
    margin: 0;
  }
}

.bookingType {
  composes: button buttonFont buttonText buttonBordersSecondary buttonColorsSecondary from global;

  min-height: 0;
  border: 2px solid var(--marketplaceColor);

  height: 3rem;
  color: var(--marketplaceColor);

  &:hover {
    color: var(--matterColorLight);
  }
}

.selectedBookingType {
  min-height: 0;
  height: 3rem;
}

.submitButton {
  margin-block: 2rem;
}

.selectDatesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookingTimeText {
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--failColor);
}

.scheduleType {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.dateInputContainer {
  display: flex;
  gap: 2rem;
}

.removeExceptionButton {
  padding: 0 0.75rem 0 0.75rem;
  border: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}

.removeIcon {
  width: 10px;
  height: 10px;
  stroke: var(--matterColorAnti);
  fill: var(--matterColorAnti);

  &:hover {
    stroke: var(--matterColorDark);
    fill: var(--matterColorDark);
  }

  @media (--viewportMedium) {
    width: 12px;
    height: 12px;
  }
}

.endDateContainer {
  position: relative;
}
