

.fieldContainer {
  margin-bottom: 4rem;

  @media screen(lg) {
    margin-block: 1rem;
  }
}

.fieldLabel {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;

  @media screen(lg) {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

.priceRange {
  padding: 0 2rem;
}

.track {
  background-color: var(--marketplaceColor);
}

.availableRatesContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2.5rem;

  & p {
    margin: 0;
  }
}

.bookingType {
  composes: button buttonFont buttonText buttonBordersSecondary buttonColorsSecondary from global;

  min-height: 0;
  border: 2px solid var(--marketplaceColor);

  height: 3rem;
  color: var(--marketplaceColor);

  &:hover {
    color: var(--matterColorLight);
  }
}

.selectedBookingType {
  min-height: 0;
  height: 3rem;
}

.submitButton {
  margin-block: 2rem;
}

.bookingTimeText {
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--failColor);
}

.scheduleType {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
