

.root {
  /* Font */
  composes: h6 from global;
  color: var(--matterColorLight);
  text-align: center;

  background-color: var(--secondaryMarketplaceColor);
  position: absolute;

  /* Layout of a red dot */
  display: inline-block;
  border-radius: 100%;
  margin-left: 0.1rem;
  padding: 0.1rem 0.3rem 0.1rem 0.35rem;

  /* Font margins off */
  margin-top: 0;
  margin-bottom: 0;
  @media screen(md) {
    top: -10px;
  }
}

.count {
  margin: auto;
}
