@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 11px 24px 0 24px;
}

.form {
  flex-grow: 1;
}

.title {
  margin-bottom: 2.5rem;

  @media screen(lg) {
    padding: 1px 0 7px 0;
  }
}

.bioText {
  color: var(--marketplaceColor);
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
  text-align: center;

  margin-top: 4rem;
  font-size: 2.25rem;
  line-height: 2.25rem;

  @media screen(md) {
    margin-top: 0;
    line-height: 2.5rem;
    letter-spacing: -0.9px;
    font-size: 1.875rem;
  }
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;

  font-size: 1.25rem;
  line-height: 1.5rem;

  @media screen(md) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
