

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media screen(md) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 24px;

  @media screen(md) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.description {
  /* composes: formMargins; */
  flex-shrink: 0;
}

.descriptionInput {
  margin-top: 1rem;
  margin-bottom: 0;
}

.certificate {
  composes: formMargins;
}

.textAreaRoot {
  margin-top: 1rem;
  margin-bottom: 0;
}

.submitButton {
  margin-top: 4rem;
  margin-bottom: 2rem;
  flex-shrink: 0;

  @media screen(lg) {
    display: inline-block;
    width: 15rem;
  }
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;

  margin-top: 4rem;

  @media screen(md) {
    margin-top: 0;
  }
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.generatingBioText {
  width: 100%;
  text-align: center;
  color: var(--marketplaceColor);
}

.spinner {
  width: 3rem;
  height: 3rem;
  stroke: var(--marketplaceColor);
  stroke-width: 3px;
}
