

.avatar {
  width: 4rem;
  height: 3.25rem;
  border-radius: 50%;
  margin-right: 0.5rem;

  @media screen(md) {
    height: 3rem;
  }
}

.avatarInitials {
}

.root {
  &:hover {
    text-decoration: none;
  }
}

.inboxPreview {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  color: var(--matterColor);

  @media screen(md) {
    height: 5rem;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #eeeeee;
    pointer: cursor;
  }

  &:hover .previewHoverLine {
    background-color: var(--marketplaceColor);
  }

  &.unread {
    background-color: rgba(116, 173, 138, 0.4);
  }

  &.active {
    background-color: var(--marketplaceColor);
  }

  &.active .inboxTitle {
    color: var(--matterColorLight);
  }

  &.active .inboxDate {
    color: var(--matterColorLight);
  }

  &.active .inboxText {
    color: var(--matterColorLight);
  }

  &.active .avatar {
    border: 2px solid var(--matterColorLight);
  }
}

.deleteOpen:not(.active) {
  position: relative;

  &:hover {
    background-color: var(--matterColorLight);
  }

  &:hover .previewHoverLine {
    background-color: var(--matterColorLight);
  }
}

.previewHoverLine {
  height: 100%;
  width: 0.35rem;
  position: absolute;
  left: 0;
}

.inboxPreviewContent {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.inboxPreviewUpper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  flex-wrap: nowrap;
  line-height: 2rem;

  @media screen(md) {
    line-height: 1.5rem;
  }
}

.inboxPreviewLower {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1rem;
}

.inboxTitle {
  font-size: 1.5rem;
  color: var(--marketplaceColor);
  padding-right: 3rem;
  font-weight: var(--fontWeightSemiBold);
  text-decoration: none;

  @media screen(md) {
    font-size: 1.25rem;
  }

  & > span {
    text-decoration: none;
  }
}

.inboxDate {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  white-space: nowrap;
  text-decoration: none;

  @media screen(md) {
    font-size: 0.75rem;
  }
}

.inboxIcon {
  padding: 1rem 1rem 1rem 0;
}

.inboxText {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  text-decoration: none;

  @media screen(md) {
    font-size: 0.75rem;
    margin-top: 0rem;
  }
}

.inboxPreviewAction {
  padding: 0.2rem 0.25rem;
  border-radius: 0.25rem;

  position: absolute;
  right: 1.5rem;
  top: 3rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  @media screen(md) {
    right: 1rem;
    top: 1.8rem;
  }
}

.notificationDot {
  /* Dimensions */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  /* Position */
  position: absolute;
  right: 4rem;
  top: 0.5rem;

  /* Style: red dot with white border */
  background-color: var(--failColor);

  opacity: 1;

  @media screen(md) {
    right: 3.5rem;
    top: 0.3rem;
    width: 0.75rem;
    height: 0.75rem;
  }
}

/* .menuItem {
  padding: 1rem;
} */

.deleteButton {
  white-space: nowrap;
  color: var(--failColor);
  padding: 1rem;
  min-width: 100%;

  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.menuContent {
  width: auto !important;
  left: -9rem !important;
  display: flex;
  justify-content: center;

  @media screen(md) {
    left: -11rem !important;
  }
}
