@import '../../styles/customMediaQueries.css';

.customizedApp {
  height: calc(100vh - var(--topbarHeightDesktop));
  width: 100vw;
}

/* will be duplicated */
.sendbird-channel-preview__avatar .sendbird-chat-header__avatar {
  width: 56px !important;
  height: 56px !important;
}
.sendbird-channel-preview__avatar
  .sendbird-chat-header__avatar
  .sendbird-image-renderer.sendbird-avatar-img {
  width: 56px !important;
  height: 56px !important;
}

.listingLink {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.avatar {
  margin: auto;
}

.messageAvatar {
  width: 2rem;
  height: 2rem;
  bottom: 35px;
}

.titleAvatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5rem;
}

.channelListMobileContainer {
  width: 100vw !important;
  height: 100vh;
  margin: 0 !important;
  padding: 0;
}

.customizedApp {
  & :global(.sendbird-channel-header) {
    width: 100%;
  }

  & :global(.sendbird-chat-header__left) {
    flex-grow: 1;

    @media (--viewportMedium) {
      flex-grow: 0;
    }
  }
}
