@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 2rem;

  @media (--viewportMedium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
  }
}

.summary {
  padding-inline: 2.5rem;
  width: 100%;

  @media (--viewportMedium) {
    padding-right: 4rem;
    padding-left: 0;
    margin: auto;
  }
}

.summaryText {
  padding-right: 2rem;
  text-align: justify;
}

.graphic {
  padding-inline: 2.5rem;
  margin-top: 1rem;

  @media (--viewportMedium) {
    padding-inline: 0;
    margin-top: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.graphicImage {
  object-fit: cover;
  max-width: 100%;

  @media (--viewportMedium) {
    max-height: 23rem;
  }
}

.title {
  composes: h1 from global;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.getStartedLink {
  padding-inline: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;

  @media (--viewportMedium) {
    padding-inline: 0;
  }
}

.getStartedButton {
  composes: button buttonBorders buttonColors h2 from global;
  color: var(--matterColorLight);
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    display: block;
    max-width: 20rem;
  }
}

.userButtons {
  width: 100%;
}

.buttonGroupRoot {
  display: flex;
  max-width: 30rem;
  flex-wrap: nowrap;
  margin-block: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.buttonGroup {
  composes: button buttonFont buttonText buttonColorsSecondary from global;

  border: 1px solid var(--marketplaceColor);

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;

  &:hover {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }

  &:focus {
    background-color: var(--matterColorLight);
    color: var(--matterColor);
  }
}

.buttonGroupSelected {
  composes: button buttonFont buttonText buttonColors from global;

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;

  &:hover,
  &:focus {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }
}
