@import '../../styles/customMediaQueries.css';

.mobileInputRoot {
  width: 95%;
  background-color: var(--matterColorLight);
  margin: auto;
  height: var(--topbarHeightDesktop);
  display: flex;
  position: relative;
  margin: 0 auto 0;
  color: var(--matterColor);
}

.desktopInputRoot {
  height: var(--topbarHeightDesktop);
  background-color: var(--matterColorLight);
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  position: relative;
  color: var(--matterColor);

  @media (--viewportLarge) {
    height: clamp(2rem, 5vw, 4.5rem);
  }
}

.mobileIcon {
  padding: 11px 0 17px 0;
  margin: auto;

  /* Borders */
  border-bottom-width: var(--borderRadiusMobileSearch);

  display: flex;
  width: 24px;
  align-self: stretch;
  background-color: var(--matterColorLight);
}

.mobileInput {
  flex-grow: 1;

  font-weight: normal;
  font-size: 16px;

  /* Font */
  composes: h1 from global;
  height: 100%;

  /* Layout */
  margin: auto 0;
  padding: 4px 13px 10px 13px;
  line-height: unset;

  /* Borders */
  border-bottom: none;

  /* Safari bugfix: without this Safari will print placeholder to a wrong place */
  &::-webkit-input-placeholder {
    line-height: normal;
  }

  &:hover,
  &:focus {
    border-bottom-color: var(--marketplaceColor);
    outline: none;
  }
}

.desktopIcon {
  border: none;
  margin: auto;
  border-radius: var(--topbarHeightDesktop);

  display: flex;
  width: 1.5rem;
  align-self: stretch;
  background-color: var(--matterColorLight);
}

.desktopInput {
  composes: h4 from global;
  flex-grow: 1;
  /* Font */
  height: var(--topbarHeightDesktop);
  line-height: unset;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 1rem;

  /* Search text gets ellipsis if it's too wide */
  text-overflow: ellipsis;
  overflow-x: hidden;

  &:hover,
  &:focus {
    border-bottom-color: var(--marketplaceColor);
    outline: none;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--matterColor);
  }

  /* Placeholder text might be too wide */
  &::placeholder {
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-weight: var(--fontWeightMedium);
    transition: var(--transitionStyleButton);
  }

  margin-top: 0;
  margin-bottom: 0;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--fontWeightSemiBold);
  }

  @media (--viewportLarge) {
    height: clamp(2rem, 5vw, 4.5rem);
    font-size: clamp(0.75rem, 1vw, 1rem);
  }
}

.desktopRoot {
  padding: 0 1rem;
  border-radius: var(--topbarHeightDesktop);

  @media (--viewportLarge) {
    height: clamp(2rem, 5vw, 4.5rem);
    border-radius: clamp(2rem, 5vw, 4.5rem);
  }
}

.mobileRoot {
  padding: 0 1.5rem;
  border-radius: var(--topbarHeightDesktop);
}

.mobilePredictions {
  position: absolute;
  top: var(--topbarHeightDesktop);
  left: 0;
  width: 100%;
  padding: 1rem 0;
  padding-bottom: var(--locationAutocompleteBottomPadding);
  background-color: var(--marketplaceColor);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);
  border-radius: var(--borderRadius);

  & > ul > li {
    padding: 0.25rem 1rem;
  }
}

.mobilePredictionsAttribution {
  /* When using the Google Maps Places geocoder, the "Powered by Google"
   text is hidden in Mobile Safari without giving some extra space to
   it. */
  margin-bottom: 100px;
}

.desktopPredictions {
  position: absolute;
  width: calc(100% - var(--borderRadius) * 2);
  top: 50px;
  left: var(--borderRadius);
  background-color: var(--marketplaceColor);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);
  border-radius: var(--borderRadius);

  margin-top: calc(
    var(--topbarHeightDesktop) - var(--TopbarSearchForm_inputHeight) +
      var(--TopbarSearchForm_bottomBorder)
  );

  @media (--viewportLarge) {
    margin-top: calc(
      clamp(2rem, 5vw, 4.5rem) - var(--TopbarSearchForm_inputHeight) +
        var(--TopbarSearchForm_bottomBorder)
    );

    & > ul > li {
      font-size: clamp(0.5rem, 1vw, 1rem);
      line-height: clamp(0.75rem, 1.5vw, 1.5rem);
      padding: clamp(0.5rem 1rem, 0.75vw 2vw, 1rem 3rem);
    }

    & > ul > li > span {
      font-size: clamp(0.5rem, 1vw, 1rem);
      line-height: clamp(0.75rem, 1.5vw, 1.5rem);
    }
  }
}
