@import '../../../../styles/customMediaQueries.css';

.caregiverSection {
  padding: 0rem 2rem 6rem 2rem;

  @media screen(md) {
    padding: 0 0 7rem 0;
  }
}

.caregiverSectionContent {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  margin: auto;
  width: 100%;

  @media screen(lg) {
    max-width: 75rem;
    width: auto;
    flex-direction: row;
  }
}

.caregiverSectionCard {
  background-color: rgb(235, 235, 235);
  border-radius: var(--borderRadius);
  padding: 3rem;

  @media screen(lg) {
    padding: 4rem 4rem 4rem 3rem;
  }
}

.caregiverSectionImageContainer {
  display: flex;
  width: 100%;
  min-height: 100%;
  min-width: 40%;
}

.caregiverSectionImage {
  width: 100%;
  border-radius: var(--borderRadius);
  object-fit: cover;
}

.caregiverSectionTitle {
  font-size: 1.75rem;
  line-height: 2rem;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 1.313rem;
  margin-bottom: 1.063rem;

  @media screen(md) {
    font-size: 2.25rem;
    line-height: 2.5rem;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 1.313rem;
    margin-bottom: 1.188rem;
  }
}

.getStartedLinkContainer {
  margin-top: 2rem;
}

.getStartedButton {
  composes: button buttonBorders buttonColors h2 from global;
  color: var(--matterColorLight);
  text-align: center;
  border-radius: 0.675rem;

  &:hover {
    text-decoration: none;
  }

  @media screen(md) {
    display: block;
    max-width: 20rem;
  }
}

.forCaregivers {
  margin: 0;
  font-weight: normal;
}
