.root {
  background: -moz-linear-gradient(
    -9.75% -8.51% 0deg,
    rgba(204, 153, 51, 1) 0%,
    rgba(211, 167, 62, 1) 5.56%,
    rgba(230, 203, 91, 1) 16.05%,
    rgba(252, 246, 124, 1) 26.53%,
    rgba(243, 232, 114, 1) 32.08%,
    rgba(219, 196, 86, 1) 42.5%,
    rgba(181, 138, 42, 1) 56.59%,
    rgba(179, 135, 40, 1) 57.3%,
    rgba(252, 246, 124, 1) 81.26%,
    rgba(250, 241, 120, 1) 84.84%,
    rgba(243, 228, 110, 1) 88.89%,
    rgba(231, 205, 92, 1) 93.18%,
    rgba(215, 173, 67, 1) 97.6%,
    rgba(204, 153, 51, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(204, 153, 51, 1) 0%,
    rgba(211, 167, 62, 1) 5.56%,
    rgba(230, 203, 91, 1) 16.05%,
    rgba(252, 246, 124, 1) 26.53%,
    rgba(243, 232, 114, 1) 32.08%,
    rgba(219, 196, 86, 1) 42.5%,
    rgba(181, 138, 42, 1) 56.59%,
    rgba(179, 135, 40, 1) 57.3%,
    rgba(252, 246, 124, 1) 81.26%,
    rgba(250, 241, 120, 1) 84.84%,
    rgba(243, 228, 110, 1) 88.89%,
    rgba(231, 205, 92, 1) 93.18%,
    rgba(215, 173, 67, 1) 97.6%,
    rgba(204, 153, 51, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    -9.75% -8.51%,
    -8.31% -8.51%,
    color-stop(0, rgba(204, 153, 51, 1)),
    color-stop(0.0556, rgba(211, 167, 62, 1)),
    color-stop(0.1605, rgba(230, 203, 91, 1)),
    color-stop(0.2653, rgba(252, 246, 124, 1)),
    color-stop(0.3208, rgba(243, 232, 114, 1)),
    color-stop(0.425, rgba(219, 196, 86, 1)),
    color-stop(0.5659, rgba(181, 138, 42, 1)),
    color-stop(0.573, rgba(179, 135, 40, 1)),
    color-stop(0.8126, rgba(252, 246, 124, 1)),
    color-stop(0.8484, rgba(250, 241, 120, 1)),
    color-stop(0.8889, rgba(243, 228, 110, 1)),
    color-stop(0.9318, rgba(231, 205, 92, 1)),
    color-stop(0.976, rgba(215, 173, 67, 1)),
    color-stop(1, rgba(204, 153, 51, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(204, 153, 51, 1) 0%,
    rgba(211, 167, 62, 1) 5.56%,
    rgba(230, 203, 91, 1) 16.05%,
    rgba(252, 246, 124, 1) 26.53%,
    rgba(243, 232, 114, 1) 32.08%,
    rgba(219, 196, 86, 1) 42.5%,
    rgba(181, 138, 42, 1) 56.59%,
    rgba(179, 135, 40, 1) 57.3%,
    rgba(252, 246, 124, 1) 81.26%,
    rgba(250, 241, 120, 1) 84.84%,
    rgba(243, 228, 110, 1) 88.89%,
    rgba(231, 205, 92, 1) 93.18%,
    rgba(215, 173, 67, 1) 97.6%,
    rgba(204, 153, 51, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(204, 153, 51, 1) 0%,
    rgba(211, 167, 62, 1) 5.56%,
    rgba(230, 203, 91, 1) 16.05%,
    rgba(252, 246, 124, 1) 26.53%,
    rgba(243, 232, 114, 1) 32.08%,
    rgba(219, 196, 86, 1) 42.5%,
    rgba(181, 138, 42, 1) 56.59%,
    rgba(179, 135, 40, 1) 57.3%,
    rgba(252, 246, 124, 1) 81.26%,
    rgba(250, 241, 120, 1) 84.84%,
    rgba(243, 228, 110, 1) 88.89%,
    rgba(231, 205, 92, 1) 93.18%,
    rgba(215, 173, 67, 1) 97.6%,
    rgba(204, 153, 51, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC9933', endColorstr='#CC9933' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(204, 153, 51, 1) 0%,
    rgba(211, 167, 62, 1) 5.56%,
    rgba(230, 203, 91, 1) 16.05%,
    rgba(252, 246, 124, 1) 26.53%,
    rgba(243, 232, 114, 1) 32.08%,
    rgba(219, 196, 86, 1) 42.5%,
    rgba(181, 138, 42, 1) 56.59%,
    rgba(179, 135, 40, 1) 57.3%,
    rgba(252, 246, 124, 1) 81.26%,
    rgba(250, 241, 120, 1) 84.84%,
    rgba(243, 228, 110, 1) 88.89%,
    rgba(231, 205, 92, 1) 93.18%,
    rgba(215, 173, 67, 1) 97.6%,
    rgba(204, 153, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC9933',endColorstr='#CC9933' , GradientType=1);
}

.rect {
  background: transparent;
}
