@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  margin-top: 5vh;
  height: 100%;
  width: 100%;
  align-content: space-between;
  flex-wrap: wrap;
  transition-delay: 1.5s;

  @media (--viewportMedium) {
    width: 350px;
    margin-top: 0;
  }
}

.paymentElementContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paymentButtonContainer {
  padding-top: 1rem;
  align-items: flex-end;
  width: 100%;
}

.paymentButtonRoot {
  composes: buttonFont buttonText buttonBorders buttonColors from global;

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  height: 3rem;
  width: 100%;

  transition: all var(--transitionStyleButton);
  cursor: pointer;
}

.defaultPaymentTitle {
  composes: h1 from global;
  font-weight: var(--fontWeightBold);

  letter-spacing: -0.5px;
  /* margin: 0; */
  text-align: center;
  width: 100%;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightSemiBold);
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.9px;
    margin-bottom: 10px;
  }
}

.defaultMethod {
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.defaultPaymentMethodsContainer {
}

.changeDefaultText {
  color: var(--marketplaceColor);
  margin-block: 0;
  text-align: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.checkbox {
  margin-block: 10px;
}

.paymentElement {
  width: 100%;
  margin-top: 1rem;
}
