.root {
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  text-decoration: none;
  width: 100px;
  height: 100px;
}

.avatarLink {
  &:hover {
    text-decoration: none;
  }
}

.usernameContainer {
  composes: marketplaceModalTitleStyles from global;

  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 20px;
}
