@import '../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.priceInput {
  flex-shrink: 0;
  width: 35%;
  margin-inline: 5rem;
}

.submitButton {
  margin-top: 5rem;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}

.currencyFieldContainer {
  display: flex;
  justify-content: space-evenly;
  max-width: 75%;
}

.priceRange {
  margin-top: 1rem;
  max-width: 75%;
}

.timeRadioGroup {
  margin: 1rem 0;
  padding: 0;
  border: none;
}

.ratesContainer {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  justify-content: space-between;
}

.rateLabels {
  composes: h3 from global;
  display: inline;

  margin: 0 1rem;
}
