

.root {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.title {
  margin-bottom: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.ssnRow {
  composes: row;
  justify-content: space-between;

  @media screen(md) {
    justify-content: flex-start;
  }
}

.thirdField {
  width: calc(33% - 1.5rem);

  & > label {
    white-space: nowrap;
  }
}

.secondField {
  width: calc(50% - 1.5rem);
  & > label {
    white-space: nowrap;
  }
}

.monthYearContainer {
  display: flex;
  justify-content: center;
}

.monthSelect {
  margin-inline: 16px;
  width: auto;
}

.yearSelect {
  margin-inline: 16px;
  width: auto;
  padding-right: 1.5rem;
}

.submitButton {
  margin-top: 60px;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media screen(lg) {
    display: inline-block;
    width: 241px;
    margin-top: 60px;
  }
}

.identityText {
  color: var(--marketplaceColor);
}

.error {
  color: var(--failColor);
}

.ssnMain {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 1.5rem);

  @media screen(md) {
    width: calc(33% - 1.5rem);
    margin: auto;
  }
}

.ssnContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ssnPlaceholder {
  width: 5rem;
  border-color: black;
}

.ssn {
  width: calc(100% - 5rem);

  @media screen(md) {
    max-width: 3.5rem;
  }
}

.ssnInputRoot {
  text-align: center;
}

.marketplaceColor {
  color: var(--marketplaceColor);
  margin-top: 0;
}

.pleaseNote {
  color: var(--marketplaceColor);
  composes: marketplaceTinyFontStyles from global;
}

.descriptionText {
  margin-bottom: 1.5rem;
}
