.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.thirdField {
  width: calc(33% - 24px);
}

.secondField {
  width: calc(50% - 24px);
}

.monthYearContainer {
  display: flex;
  justify-content: center;
}

.monthSelect {
  margin-inline: 16px;
  width: auto;
}

.yearSelect {
  margin-inline: 16px;
  width: auto;
  padding-right: 1.5rem;
}

.submitButton {
  margin-top: 60px;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 60px;
  }
}

.identityText {
  color: var(--marketplaceColor);
}

.error {
  color: var(--failColor);
}
