@import '../../styles/customMediaQueries.css';

.root {
  /* Adding empty .root class to enforce className overwrite */
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
  composes: a from global;
  composes: marketplaceModalHelperLink from global;
}

.helperText {
  composes: marketplaceModalHelperText from global;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;

  /* Align the helper links to the left since there isn't a Primary Button anymore */
  text-align: left;
}

.modalIcon {
  composes: marketplaceModalIconStyles from global;
}

.reminderModalLinkButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
}

.requirementsBottomWrapper {
  margin-block: 40px;
  align-items: center;
}

.listCircle {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--matterColorAnti);
  border-radius: 100%;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;

  @media (--viewportMedium) {
    padding-bottom: 0;
  }
}

.requirementsListItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  composes: h3 from global;
}

.checkmark {
  width: 1rem;
  height: 0.75rem;
}
