{:format :v3,
 :transitions
 [{:name :transition/notify-for-payment,
   :actor :actor.role/customer,
   :actions [],
   :to :state/notified-for-payment},
   {:name :transition/request-payment,
   :actor :actor.role/customer,
   :actions [],
   :to :state/payment-requested},
   {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [],
   :to :state/payment-confirmed}],
 :notifications
 [{:name :notification/payment-details-notification,
   :on :transition/notify-for-payment,
   :to :actor.role/provider,
   :template :money-paid},
   {:name :notification/payment-requested,
   :on :transition/request-payment,
   :to :actor.role/provider,
   :template :money-paid},
   {:name :notification/payment-confirmed,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :money-paid}
   ]}
