.spreadSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textSm {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightMedium);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.1px;
  /* margin-top + n * line-height + margin-bottom => x * 6px */
  margin-top: 12px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    font-size: 14px;
    line-height: 28px;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
