@import '../../styles/customMediaQueries.css';

.root {
  margin-inline: auto;
  width: 45rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - var(--topbarHeightDesktop));
}

.title {
  color: var(--marketplaceColor);

  @media (--viewportMedium) {
    font-size: 3.5rem;
    font-weight: var(--fontWeightSemiBold);
    line-height: 4rem;
    letter-spacing: -0.063rem;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
