@import '../../styles/customMediaQueries.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--matterColorAnti);
  margin-bottom: 0 !important;
  /* justify-content: space-between; */

  color: var(--marketplaceColor);

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    height: 22rem;
  }
}

.topRow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;

  margin-top: 5rem;

  text-align: center;
  margin-bottom: 1rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: flex;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
}

.user {
  width: 10rem;
}

.priceValue {
  /* Font */
  composes: h2 from global;
  font-size: 1.75rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;

  margin: 0 0 0.5rem 0;
  padding: 0;

  @media (--viewportMedium) {
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 100%;
  }
}

.perUnit {
  composes: marketplaceBodyFontStyles from global;
  /* Font */
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.startDate {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--matterColor);
}

.mainInfo {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-left: 1rem;
}

.viewScheduleButton {
  min-height: 0;
  padding: 0.25rem 1rem;
  width: auto;
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0.75rem;
}

.title {
  /* Font */
  composes: h3 from global;
  color: var(--matterColor);
  position: relative;
  display: inline-block;
  text-align: left;

  /* Remove default margins from font */
  margin-top: 0.5rem;
  margin-bottom: 0;

  @media (--viewportMedium) {
    composes: h2 from global;
    text-align: left;
    width: 100%;
  }
}

.mobileTitleContainer {
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
}

.mobileTitleTextContainer {
  margin-left: 1rem;
}

.userTitle {
  composes: title;
  text-align: center;
  width: 100%;
}

.location {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;

  @media (--viewportMedium) {
    margin-top: 1rem;
  }
}

.topInfo {
  max-height: 10rem;
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 2rem;
    margin-left: 1rem;
  }
}

.topText {
  padding-left: 1rem;
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.avatar {
  width: 5rem;
  height: 5rem;
  margin: auto;
  padding: 0;

  @media (--viewportMedium) {
    width: 10rem;
    height: 10rem;
  }
}

.avatarInitials {
  font-size: 2.5rem;
  font-weight: var(--fontWeightSemiBold);

  @media (--viewportMedium) {
    font-size: 5rem;
  }
}

.providedServices {
  color: var(--matterColor);
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;

  @media (--viewportMedium) {
    margin-left: 11rem;
    justify-content: flex-start;
  }
}

.bold {
  font-weight: var(--fontWeightBold);
  color: var(--matterColor);
}

.serviceCardList {
  display: flex;
}

.serviceCardItem {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;

  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--matterColorNegative);
  margin-left: 0.7rem;
  margin-block: 0;
}

.serviceCardItem:first-of-type {
  margin-left: 0;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-block: 1rem;
  /* min-height: 6rem; */

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin-top: 1rem;
    padding: 0;
    flex-direction: row;
    min-height: 0;
    justify-content: center;
  }
}

.messageButton {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;
  min-height: 0;

  padding: 0.75rem;
  max-width: 10rem;
  text-decoration: none;
}

.container {
  position: relative;
  display: block;
}

.premiumIcon {
  position: absolute;
  left: 0.5rem;
}

.scheduleType {
  margin: 0;
  color: var(--matterColor);
  display: block;
  width: 100%;
  text-align: center;

  @media (--viewportMedium) {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    width: auto;
    text-align: left;
  }
}

.badge {
  padding: 0.1rem;
  border: solid 2px var(--marketplaceColor);
  margin-right: 1rem;
}

.badges {
  display: flex;
  flex-direction: row;
  margin-block: 1rem;
  align-items: center;
  width: 100%;
}

.certAndTrainWrapper {
  padding: 0.5rem;
}

.certAndTrainTitle {
  composes: h3 from global;
  margin-bottom: 0;
  text-align: center;
}

.certAndTrainList {
  list-style-type: disc;
  text-align: center;
}

.note {
  text-align: center;
  margin-top: 0;
  font-size: 12px;
  line-height: 12px;
}

.yearsExperience {
  composes: h4 from global;
  margin: 0;
  padding: 0;
  color: var(--marketplaceColor);
}
