{:format :v3,
 :transitions
 [{:name :transition/initial-message,
   :actor :actor.role/customer,
   :actions [{:name :action/privileged-update-metadata}],
   :to :state/messaging
   :privileged? true
   },
   {:name :transition/customer-delete-conversation,
   :actor :actor.role/customer,
   :actions [],
   :from :state/messaging,
   :to :state/deleted},
   {:name :transition/provider-delete-conversation,
   :actor :actor.role/provider,
   :actions [],
   :from :state/messaging,
   :to :state/deleted},],
 :notifications
 [{:name :notification/new-message,
   :on :transition/initial-message,
   :to :actor.role/provider,
   :template :new-message},
   ]}
