<html>
  <head>
    <style type="text/css">
      @media only screen and (max-width: 768px) {
        .body {
          padding: 2rem !important;
        }
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0">
    <div
      class="main-container"
      style="max-width: 37.5rem;background-color: rgba(142, 213, 181, 0.1);margin: auto;"
    >
      <div class="header">
        <a href="{{marketplace.url}}">
          <img
            src="https://carevine-email-images.s3.us-west-2.amazonaws.com/carevine-logo.png"
            class="logo"
            style="height: 3.125rem;width: 11rem;padding: 1rem;"
          />
        </a>
      </div>
      <div class="content" style="padding: 6rem 0 8rem 0;">
        <p
          class="title"
          style="width: 100%;text-align: center;margin: 0;color: #6BA0B6;font-size: 2rem;font-weight: normal;font-family: Trebuchet MS, Verdana;word-wrap: break-word !important;white-space: normal !important;"
        >
          Payment Requested
        </p>
        {{#with transaction}}
        <p
          class="body"
          style="margin-top: 0rem;padding: 2rem 3.5rem;text-align: center;font-weight: normal;font-family: Trebuchet MS, Verdana, Arial;font-size: 1rem;line-height: 1.8rem;color: #6BA0B6;"
        >
          {{customer.display-name}} has requested payment from you. Click the button below to view
          this request.
        </p>
        {{/with}}
        <div
          class="button-container"
          style="width: 100%;padding-left: auto;padding-right: auto;text-align: center;"
        >
          <a
            href="{{marketplace.url}}/inbox/{{transaction.protected-data.channelUrl}}"
            style="padding: 0.875rem 1.5rem;height: 2.5rem;background: #6ba0b6;border-radius: 3rem;border: none;color: #ffffff; font-family: Trebuchet MS, Verdana, Arial; font-weight: medium; font-size: 1rem; line-height: 1.25rem; color: #FFFFFF; text-decoration: none;"
            >View Request</a
          >
        </div>
      </div>
      <div class="footer" style="text-align: center;">
        <div
          class="footer-sub"
          style="padding: 1rem 2rem 1.5rem 2rem;margin: 0 2rem;border-top: solid 1px #CCCCCC"
        >
          <div class="footer-link-container" style="padding-bottom: 1rem;display: inline;">
            <a
              class="footer-link"
              href="{{marketplace.url}}/contact-us"
              style="color: rgba(0, 0, 0, 0.5);margin-left: 0.5rem;margin-right: 0.5rem;font-family: Trebuchet MS, Verdana, Arial;font-size: 0.675rem;font-weight: bold;line-height: 0.75rem; white-space: nowrap;"
              >Contact Us</a
            >
          </div>
          <div class="footer-link-container" style="padding-bottom: 1rem;display: inline;">
            <a
              class="footer-link"
              href="{{marketplace.url}}/privacy-policy"
              style="color: rgba(0, 0, 0, 0.5);margin-left: 0.5rem;margin-right: 0.5rem;font-family: Trebuchet MS, Verdana, Arial;font-size: 0.675rem;font-weight: bold;line-height: 0.75rem; white-space: nowrap;"
              >Privacy-Policy</a
            >
          </div>
          <div class="footer-link-container" style="padding-bottom: 1rem;display: inline;">
            <a
              class="footer-link"
              href="{{marketplace.url}}/terms-of-service"
              style="color: rgba(0, 0, 0, 0.5);margin-left: 0.5rem;margin-right: 0.5rem;font-family: Trebuchet MS, Verdana, Arial;font-size: 0.675rem;font-weight: bold;line-height: 0.75rem; white-space: nowrap;"
              >Terms &amp; Conditions</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
