.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  min-height: 60vh;
  flex-wrap: wrap;
  overflow-x: none;

  @media screen(md) {
    min-height: 25rem;
    min-width: 32rem;
  }
}

.icon {
  display: none;

  @media screen(md) {
    display: block;
    margin-bottom: 36px;
  }
}

.field {
  margin: 1.5rem 0;
  width: 100%;
  display: block;

  @media screen(md) {
    & textarea {
      max-height: 10rem;
      overflow-y: auto;
    }
  }
}

.error {
  color: var(--failColor);
  margin-top: 0;

  @media screen(md) {
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen(md) {
    margin-top: 0;
  }
}

.heading {
  max-width: 80%;

  @media screen(md) {
    max-width: 25rem;
  }
}

.rightHeader {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

/* Small Avatar */

.avatar {
  /* Layout */
  width: 6.25rem !important;
  height: 6.25rem !important;
}

.avatarInitials {
  font-size: 3rem !important;
  font-weight: var(--fontWeightSemiBold) !important;
}

.submitButtonWrapper {
  padding: 2rem 0;
  width: 100%;
  display: block;

  @media screen(md) {
    padding: 0;
    margin-top: 4rem;
  }
}

.submitButton {
  min-width: 100%;
}
