@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  height: 60vh;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    min-height: 25rem;
    min-width: 32rem;
    padding-inline: 1rem;
  }
}

.icon {
  display: none;

  @media (--viewportMedium) {
    display: block;
    margin-bottom: 36px;
  }
}

.field {
  margin: 1.5rem 0;
  width: 100%;
}

.error {
  color: var(--failColor);
  margin-top: 0;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.heading {
  max-width: 80%;

  @media (--viewportMedium) {
    max-width: 25rem;
  }
}

.rightHeader {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

/* Small Avatar */

.avatar {
  /* Layout */
  width: 6.25rem;
  height: 6.25rem;
}

.avatarInitials {
  font-size: 3rem;
  font-weight: var(--fontWeightSemiBold);
}

.submitButtonWrapper {
  padding: 2rem 0;
  width: 100%;

  @media (--viewportMedium) {
    position: static;
    padding: 0;
    margin-top: auto;
  }
}

.submitButton {
  min-width: 100%;
}
