@import '../../styles/customMediaQueries.css';

.root {
  padding: 1.25rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  @media (--viewportMedium) {
    margin-top: 2rem;
  }
}

.buttonRowContainer {
  display: flex;
  padding-block: 1.25rem;
  justify-content: center;
}

.weekdayButton {
  composes: buttonColorsSecondary from global;

  border: 0.063rem solid var(--marketplaceColor);
  min-height: 0;

  border-radius: 100%;

  width: 6rem;
  height: 4rem;
  font-size: 0.75rem;
  line-height: 1rem;

  @media (--viewportMedium) {
    width: 8rem;
    height: 5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  margin: 0 0.5rem;

  &:hover {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }

  &:focus {
    background-color: var(--matterColorLight);
    color: var(--matterColor);
  }
}

.selectedButton {
  composes: buttonFont buttonText buttonColors from global;

  min-height: 0;

  border-radius: 100%;

  width: 6rem;
  height: 4rem;
  font-size: 0.75rem;
  line-height: 1rem;

  @media (--viewportMedium) {
    width: 8rem;
    height: 5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  margin: 0 0.5rem;

  &:hover,
  &:focus {
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);
  }
}

.checkbox {
  display: flex;
  margin-top: 1.25rem;
  width: 100%;
  justify-content: center;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 4rem;
  margin-top: 2.5rem;

  @media (--viewportLarge) {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
}

.submitButtonContainer {
  width: 100%;
}

.children {
  width: 100%;
}

.error {
  color: var(--failColor);
  width: 100%;
  text-align: start;
}

.timelineForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 37.5rem;
}

.hoursPerDayContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 4rem;
}

.hoursPerDayInput {
  display: flex;
  text-align: center;
  padding: 0.313rem 0 0.313rem 0;
  font-size: 2.5rem;
  margin-inline: 30%;
}

.hoursPerDayRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hoursPerDayField {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2rem;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.hoursPerDayLabel {
  text-align: center;
}

.exceptionsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.exceptionsTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
