.modalContainer {
  composes: marketplaceModalBaseStyles from global;

  justify-content: center;
}

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

.refundList {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.refundListItem {
  composes: marketplaceTinyFontStyles from global;
  display: list-item;
  list-style-type: disc;
  margin: 0;
}

.modalMessageRefund {
  composes: modalMessage from global;
  composes: marketplaceTinyFontStyles from global;
  text-decoration: underline;
}

.modalError {
  color: var(--failColor);
  margin-top: 1rem;
}

.modalButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.modalButton {
  padding: 1rem 2rem;
  width: 8rem;
  height: auto;
  min-height: 0;
  display: inline;
  margin-left: 1rem;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropAnimation {
  animation: fadeInDown 0.5s ease-in-out;
}
