@import '../../styles/customMediaQueries.css';

/* Dummy Topbar */

.topbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  align-items: center;
  justify-content: center;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: var(--boxShadow);

  @media (--viewportLarge) {
    height: var(--topbarHeightDesktop);
    justify-content: center;
  }
}

.home {
  display: flex;
  padding: calc((var(--topbarHeight) - var(--CheckoutPage_logoHeight)) / 2) 24px;

  @media (--viewportLarge) {
    padding: calc((var(--topbarHeightDesktop) - var(--CheckoutPage_logoHeightDesktop)) / 2) 36px;
  }
}

.logoMobile {
  display: block;

  @media (--viewportLarge) {
    display: none;
  }
}

.logoDesktop {
  display: none;
  width: auto;
  height: 27px;

  @media (--viewportLarge) {
    display: block;
  }
}

/* /Dummy Topbar */

/**
 * Content: mobile flow vs desktop 2 columns
 * desktop has reduced version of bookListingContainer (incl. title and Stripe paymentForm).
 * priceBreakdown is inside separate column (detailsContainerDesktop)
 */
.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media (--viewportLarge) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 37vw 0 3rem;
  }
}

.bookListingContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media (--viewportLarge) {
    flex-grow: 1;
    margin-top: 3rem;
    margin-right: 6rem;
  }
}

.aspectWrapper {
  position: relative;
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background-color: var(--matterColorNegative); /* Loading BG color */

  @media (--viewportLarge) {
    display: none;
  }
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  @media (--viewportLarge) {
    border-radius: 2px 2px 0 0;
  }
}

.avatarWrapper {
  /* Position (over the listing image)*/
  margin-left: 24px;
  margin-top: -31px;

  /* Rendering context to the same lavel as listing image */
  position: relative;

  /* Layout */
  display: block;

  @media (--viewportLarge) {
    margin-left: 48px;
  }
}

.bookAuthor {
  composes: h1 from global;
  display: inline;
}

.bookAuthorMobile {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.cardAvatarWrapper {
  padding: 2rem;

  display: grid;

  grid-template-columns: auto auto;
  align-content: center;
  align-items: center;
  width: 100%;
}

.cardAvatar {
  display: block;
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}

.avatarMobile {
  @media (--viewportLarge) {
    display: none;
  }
}

.heading {
  margin-top: 29px;
  margin-bottom: 34px;
  padding: 0 24px;

  @media (--viewportMedium) {
    margin-top: 27px;
    margin-bottom: 30px;
  }

  @media (--viewportLarge) {
    margin-top: 0px;
    margin-bottom: 54px;
    padding: 0;
  }
}

.title {
  /* Font */
  color: var(--matterColor);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.author {
  width: 100%;
  composes: h4 from global;

  /* Reset margins from font styles */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-bottom: 37px;

  @media (--viewportMedium) {
    margin-bottom: 38px;
  }
  @media (--viewportLarge) {
    /* we don't show price breakdown since it will be visible within 2nd column (detailsContainerDesktop) */
    display: none;
  }
}

.priceBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 14px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 18px;
  }
  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

.paymentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  margin-top: 3rem;

  @media (--viewportMedium) {
    margin-top: 1.5rem;
  }

  @media (--viewportLarge) {
    margin-top: 2rem;
    padding: 0;
  }
}

.orderError,
.notFoundError {
  margin: 11px 0 12px 0;

  @media (--viewportMedium) {
    margin: 10px 0 12px 0;
  }
}
.orderError {
  color: var(--failColor);
}
.notFoundError {
  color: var(--attentionColor);
}

.speculateError {
  color: var(--failColor);
  margin: 19px 0 1px 0;

  @media (--viewportLarge) {
    margin: 28px 48px 0 48px;
  }
}

.paymentForm {
  flex-grow: 1;
}

.detailsContainerDesktop {
  display: none;

  @media (--viewportLarge) {
    flex-shrink: 0;
    display: block;
    /* Dimensions */
    position: fixed;
    padding-bottom: 2rem;

    top: 9rem;
    right: 3rem;

    width: 33vw;
    max-height: calc(100vh - 11rem);
    overflow-y: auto;

    /* Coloring */
    background-color: var(--matterColorLight);
    border: 1px solid var(--matterColorNegative);
    border-radius: 2px;
  }
}

.detailsContainerMobile {
  flex-shrink: 0;
  display: block;
  /* Dimensions */
  padding-bottom: 2rem;

  /* Coloring */
  background-color: var(--matterColorLight);
  border: 1px solid var(--matterColorNegative);
  border-radius: 2px;
  margin: 6rem 0 2rem 0;

  @media (--viewportLarge) {
    display: none;
  }
}

.detailsAspectWrapper {
  position: relative;
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background-color: var(--matterColorNegative); /* Loading BG color */
}

.summaryDetailsContainer {
  margin: 0 3rem;
}

.detailsHeadings {
  display: flex;
  align-items: center;

  & h2 {
    margin-top: 0;
  }
}

.changeRateButton {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
}

.detailsSubtitle {
  composes: h5 from global;

  /* Reset margins from font styles */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bookingBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  /* Layout spacing */
  margin: 5px 24px 25px 24px;

  @media (--viewportLarge) {
    margin: 37px 48px 26px 48px;
  }
}

.bookingBreakdown {
  @media (--viewportLarge) {
    margin: 0 48px;
  }
}

.bookingTime {
  padding-block: 0.5rem;
}

.bookingTime:not(:first-of-type) {
  border-top: 1px solid var(--matterColorNegative);
}

.bookingTimes {
  overflow-y: scroll;
  max-height: 12rem;
  position: relative;
  scroll-behavior: smooth;
}

.summaryDate {
  margin-bottom: 0;
  display: inline;
}

.summaryTimeContainer {
  display: flex;
  flex-wrap: wrap;
}

.tinyNoMargin {
  composes: marketplaceTinyFontStyles from global;
  margin: 0;
}

.summaryTimes {
  composes: tinyNoMargin;
  width: 100%;
}

.totalContainer {
  border-top: 1px solid var(--matterColorNegative);
  padding: 1rem 0 0 0;
}

.arrowHeadContainerUp {
  position: absolute;
  top: 11rem;
  right: 1rem;
}

.arrowHeadContainerDown {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.arrowHead {
  position: fixed;
  cursor: pointer;
}

.total {
  margin-top: 0.5rem;
}

.totalCalc {
  border-bottom: 1px solid var(--matterColor);
  margin-bottom: 0;
  padding-block: 0.5rem;
}

.paymentCalc {
  margin-block: 0.5rem;
}

.fieldLabel {
  width: 100%;
  text-align: center;
}

.priceRange {
  padding: 0 2rem;
}

.track {
  background-color: var(--marketplaceColor);
}

.availableRatesContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2.5rem;

  & p {
    margin: 0;
  }
}

.submitRateButton {
  margin-top: 4rem;
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;
  display: flex;
  width: 100%;
  justify-content: center;
}

.changeRatesForm {
  margin: auto;
}

.confirmationText {
  font-size: 30px;
  line-height: 36px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  max-width: 30rem;
  text-align: center;
}

.confirmationContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.confirmationSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.iconConfirm {
  height: 7em;
  width: 7em;
}

.toBookings {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;

  margin-top: 3rem;
}
