/* Dummy Topbar */

.topbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  align-items: center;
  justify-content: center;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: var(--boxShadow);

  @media screen(lg) {
    height: var(--topbarHeightDesktop);
    justify-content: center;
  }
}

.home {
  display: flex;
  padding: calc((var(--topbarHeight) - var(--CheckoutPage_logoHeight)) / 2) 24px;

  @media screen(lg) {
    padding: calc((var(--topbarHeightDesktop) - var(--CheckoutPage_logoHeightDesktop)) / 2) 36px;
  }
}

.logoMobile {
  display: block;

  @media screen(lg) {
    display: none;
  }
}

.logoDesktop {
  display: none;
  width: auto;
  height: 27px;

  @media screen(lg) {
    display: block;
  }
}

/* /Dummy Topbar */

/**
 * Content: mobile flow vs desktop 2 columns
 * desktop has reduced version of bookListingContainer (incl. title and Stripe paymentForm).
 * priceBreakdown is inside separate column (detailsContainerDesktop)
 */
.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media screen(lg) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    position: relative;
    margin: auto;
    width: 70rem;
  }
}

.bookListingContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media screen(lg) {
    flex-grow: 1;
    padding: 0;
    width: 150rem;
    position: relative;
  }
}

.aspectWrapper {
  position: relative;
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background-color: var(--matterColorNegative); /* Loading BG color */

  @media screen(lg) {
    display: none;
  }
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  @media screen(lg) {
    border-radius: 2px 2px 0 0;
  }
}

.avatarWrapper {
  /* Position (over the listing image)*/
  margin-left: 24px;
  margin-top: -31px;

  /* Rendering context to the same lavel as listing image */
  position: relative;

  /* Layout */
  display: block;

  @media screen(lg) {
    margin-left: 48px;
  }
}

.cardAvatarWrapper {
  padding: 2rem;

  display: grid;

  grid-template-columns: auto auto;
  align-content: center;
  align-items: center;
  width: 100%;
}

.cardAvatar {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}

.cardAvatarInitials {
  font-size: 2.5rem;
  font-weight: var(--fontWeightSemiBold);

  @media screen(md) {
    font-size: 3rem;
  }
}

.avatarMobile {
  @media screen(lg) {
    display: none;
  }
}

.heading {
  margin-top: 29px;
  margin-bottom: 34px;
  padding: 0 24px;

  @media screen(md) {
    margin-top: 27px;
    margin-bottom: 30px;
  }

  @media screen(lg) {
    margin-top: 0px;
    margin-bottom: 54px;
    padding: 0;
  }
}

.title {
  /* Font */
  color: var(--matterColor);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;

  @media screen(md) {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.author {
  width: 100%;
  composes: h4 from global;

  /* Reset margins from font styles */
  margin-top: 0;
  margin-bottom: 0;

  @media screen(md) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-bottom: 37px;

  @media screen(md) {
    margin-bottom: 38px;
  }
  @media screen(lg) {
    /* we don't show price breakdown since it will be visible within 2nd column (detailsContainerDesktop) */
    display: none;
  }
}

.priceBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 14px;

  @media screen(md) {
    margin-top: 0;
    margin-bottom: 18px;
  }
  @media screen(lg) {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

.paymentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  margin-top: 3rem;

  @media screen(md) {
    margin-top: 1.5rem;
  }

  @media screen(lg) {
    margin-top: 2rem;
    padding: 0;
  }
}

.orderError,
.notFoundError {
  margin: 11px 0 12px 0;

  @media screen(md) {
    margin: 10px 0 12px 0;
  }
}
.orderError {
  color: var(--failColor);
}
.notFoundError {
  color: var(--attentionColor);
}

.speculateError {
  color: var(--failColor);
  margin: 19px 0 1px 0;

  @media screen(lg) {
    margin: 28px 48px 0 48px;
  }
}

.paymentForm {
  flex-grow: 1;
}

.detailsAspectWrapper {
  position: relative;
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background-color: var(--matterColorNegative); /* Loading BG color */
}

.bookingBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  /* Layout spacing */
  margin: 5px 24px 25px 24px;

  @media screen(lg) {
    margin: 37px 48px 26px 48px;
  }
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;
  display: flex;
  width: 100%;
  justify-content: center;
}

.confirmationText {
  font-size: 30px;
  line-height: 36px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  max-width: 30rem;
  text-align: center;
}

.confirmationContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;

  @media screen(md) {
    margin-top: 0;
  }
}

.confirmationSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;

  @media screen(md) {
    margin: 0;
  }
}

.iconContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.iconConfirm {
  height: 7em;
  width: 7em;
}

.toBookings {
  composes: button buttonFont buttonText buttonBorders buttonColors from global;

  margin-top: 1rem;
  min-height: 0;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen(md) {
    max-width: 25rem;
  }
}
